In [6]:
import pandas as pd
import scipy
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Importing

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler
scaler = MinMaxScaler()

In [ ]:
# another way. just different based on directory thing?
from sklearn import preprocessing
scaler = preprocessing.MinMaxScaler()

# Data Pre-processing

In [38]:
# Load dataset
# others: load_diabetes, load_digits, load_boston, load_breast_cancer, load_linnerud, load_sample_image, load_sample_images, load_wine

# replacements for boston: 

# from sklearn.datasets import fetch_california_housing
# housing = fetch_california_housing()

# from sklearn.datasets import fetch_openml
# housing = fetch_openml(name="house_prices", as_frame=True)


from sklearn.datasets import fetch_california_housing
data = fetch_california_housing()

df = pd.DataFrame(data = data.data, columns = data.feature_names) # turn to df
df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

### Duplicate values

In [41]:
# Find duplicates
# df.duplicated() returns if duplicated or not 

# sum it with this
df.duplicated().sum()

0

In [42]:
# Remove
# df.drop_duplicates()

df = df.drop_duplicates()
df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

### Missing values

#### Identifying missing values

In [43]:
# df.isnull()

df.isnull().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

#### Dealing with missing values

##### remove rows

In [ ]:
# remove rows with missing values 
df.dropna()

##### drop the column entirely

In [ ]:
# df.drop(columns='COLUMN_NAME', inplace=True) 
# CHECK THIS ONE BC NOT SURE

##### imput

In [ ]:
# imput missing values with mean, median, or mode 
df.fillna(df.mean())

In [ ]:
# imput with other data
# df['COLUMN_NAME'].replace(np.nan, 'NEW_VALUE', inplace=True)

In [45]:
# use imputers
# SimpleImputer

In [1]:

        
2. Encode categorical variables
    - identify `df.select_dtypes(include=['object']).columns`
    - choose encoding method
        - one-hot
            `pd.get_dummies(df, columns=caegorical_cols)`
        - label
            ```from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
for col in categorical_cols:
    df[col] = label_encoder.fit_transform(df[col])```
3. Feature scaling
    - import `from sklearn.preprocessing import StandardScaler`
    - choose scaling method
        - StandardScaler
            ```scaler = StandardScaler()
df_scaled = scaler.fit_transform(df)```
        - MinMaxScaler
            ```from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_scaled = scaler.fit_transform(df)```

SyntaxError: invalid syntax (1553292181.py, line 1)

# HEY LET'S TRY DOING ONE FULL PREPROCESS CYCLE BEFORE TAKING NOTES

# YOU'RE TAKING TOO LONG

In [ ]:
from sklearn.model_selection import train_test_split
df = df.fillna(df.mean())
train, test = train_test_split(df)
train