this will be used as main python note-taking resource!!! (better than notion which can't run code)
to-dos:
- decide how to section it out
- decide on format for each section 
- reorganize everything and clean it up

# Testing

In [59]:
# strategic print statements
def find_short(s):
    stringlist = s.split()
    print(stringlist)
    shortest = 'aaaaaaaaa'
    
    for word in stringlist:
        if len(word) < len(shortest):
            shortest = word
            print(shortest)
        return len(shortest)

find_short('as;dlfkj asdfadsf asdfasdf asdfas ad')

['as;dlfkj', 'asdfadsf', 'asdfasdf', 'asdfas', 'ad']
as;dlfkj

8

In [1]:
print("hello world")

hello world

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (3923495743.py, line 1)

   # Math

In [49]:
# modelo
8 % 3

2

In [ ]:
# check for perfect squares
n*0.5 % 1 #???

In [54]:
string = "bitcoin take over the world maybe who knows perhaps"
stringlist = string.split()
longest = ''

for n in stringlist:
    if len(stringlist[n]) < len(stringlist[n+1]):
        longest = stringlist[n+1]
    return longest

SyntaxError: 'return' outside function (1385157165.py, line 7)

## Strings

In [47]:
# concactenation 
a = "xyaabbbccccdefww"
b = "xxxxyyyyabklmopq"
a+b

'xyaabbbccccdefwwxxxxyyyyabklmopq'

In [48]:
# indexing
a[1]

'y'

#### formatting

In [42]:
# capitalize
a.capitalize()

'Xyaabbbccccdefww'

In [41]:
# another way: title
a.title()

'Xyaabbbccccdefww'

In [44]:
# wave problem
example_string = 'hello'

# indexing
example_string[1]

# capitalize
example_string[1].capitalize()

# joining
''.join(example_string[1].capitalize())

'E'

In [64]:
blah = 54
len(blah)

TypeError: object of type 'int' has no len()

In [9]:
# sorting. sort and join

a = "xyaabbbccccdefww"
a_new = ''.join(sorted(a))
a_new

'aabbbccccdefwwxy'

In [17]:
# sorted. turns it into a list?

sorted(a)

['a',
 'a',
 'b',
 'b',
 'b',
 'c',
 'c',
 'c',
 'c',
 'd',
 'e',
 'f',
 'w',
 'w',
 'x',
 'y']

#### Sets

In [13]:
# unique values in a string = SET

a = "xyaabbbccccdefww"
b = "xxxxyyyyabklmopq"
set(a)

{'a', 'b', 'c', 'd', 'e', 'f', 'w', 'x', 'y'}

In [20]:
# sorting (list???)
sorted(set(a))

['a', 'b', 'c', 'd', 'e', 'f', 'w', 'x', 'y']

In [25]:
# sort and join (back to string)
a_sorted_unique = ''.join(sorted(set(a)))
a_sorted_unique

'abcdefwxy'

In [27]:
def longest(a1, a2):
    # merge strings
    # return unique values, sorted
    return ''.join(sorted(set(a1+a2)))

'xyaabbbccccdefwwxxxxyyyyabklmopq'

## Lists

### Methods
remember that list methods will run the method on the list and save it (most of the time) but won't print it out

In [7]:
# inserting stuff
# .insert(INDEX, VALUE)

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
thislist

['apple', 'orange', 'banana', 'cherry']

In [8]:
# adding stuff to the end
# .append(VALUE)

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
thislist

['apple', 'banana', 'cherry', 'orange']

In [9]:
# reversing
# LIST.reverse() 

thislist = ["apple", "banana", "cherry"]
thislist.reverse()
thislist

['cherry', 'banana', 'apple']

In [ ]:
# removing
# .remove(VALUE)

### Indexing
`my_list[start:end:step]`  # start is inclusive, end is exclusive

In [11]:
my_list = ['aaa', 'bbb', 'ccc', 'ddd']
my_list[1:]

['bbb', 'ccc', 'ddd']

In [12]:
# end before last one
my_list[:-1]

['aaa', 'bbb', 'ccc']

In [13]:
# start at second to last one 
my_list[-2:]

['ccc', 'ddd']

In [1]:
# step size
'''return every second element'''

my_list = ['aaa', 'bbb', 'ccc', 'ddd']
with_steps = my_list[0::2]
with_steps

['aaa', 'ccc']

In [ ]:
# conditions

'''find next square root'''

import math

def find_next_square(sq):
    # Return the next square if sq is a square, -1 otherwise
    square_root = math.sqrt(sq)
    # if square root is an integer
    if square_root % 1 == 0:
        return (square_root + 1) ** 2
    # if argument is not a perf sq, return, -1, None, or null
    else:
        return -1

remove the geese from birds list

In [ ]:
# comparing lists and filtering

geese = ["African", "Roman Tufted", "Toulouse", "Pilgrim", "Steinbacher"]
birds =  ["Mallard", "Hook Bill", "African", "Crested", "Pilgrim", "Toulouse", "Blue Swedish"]

# remove the geese from birds list

# old school loop
def goose_filter(birds):
    final = []
    for bird in birds:
        if bird not in geese:
            final.append(bird)
    return final

In [61]:
# LIST COMP
def goose_filter(birds):
    return [bird for bird in birds if bird not in geese]

goose_filter(birds)

['Mallard', 'Hook Bill', 'Crested', 'Blue Swedish']

label index of each list item:

In [62]:
# for i in range(len(arr)):
# then compare arr[i] to arr[i+1] or whatever

In [ ]:
# list comprehension
''' invert positives to negatives, negatives to positives'''
def invert(lst):
    return [-x for x in lst]

## Dictionaries
`person = {"name": "Alice", "age": 30, "city": "London"}`

In [14]:
person = {"name": "Alice", "age": 30, "city": "London"}

# calling a value using a key
person['name']

'Alice'

In [15]:
# Adding a new key-value pair
person["occupation"] = "Programmer"  
person

{'name': 'Alice', 'age': 30, 'city': 'London', 'occupation': 'Programmer'}

In [6]:
# indexing
'''return the answer for how many petals'''

def how_much_i_love_you(nb_petals):
    return ["I love you", "a little", "a lot", "passionately", "madly", "not at all"][nb_petals % 6 - 1]

## Loops

In [ ]:
# count vowels in a string

def get_count(sentence):
    vowels = 'aeiou'
    count = 0
    for letter in sentence:
        if letter in vowels:
            count += 1 
    return count