In [ ]:
Your goal is to return multiplication table for number that is always an integer from 1 to 10.

For example, a multiplication table (string) for number == 5 looks like below:

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50
P. S. You can use \n in string to jump to the next line.

Note: newlines should be added between rows, but there should be no trailing newline at the end. If you're unsure about the format, look at the sample tests.

In [24]:
def multi_table(number):
    for i in range(1, 11):
        return '\n'.join(f'{i} * {number} = {i*number}')

In [25]:
multi_table(4)

'1\n \n*\n \n4\n \n=\n \n4'

In [5]:
number = 5

for i in range(1, 11):
    print(f'{i} * {number} = {i*number}' for i in range(1, 11))

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [2]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
'\n'.join(f'{i} * {number} = {i*number}' for i in range(1, 11))
# the fake list comprehension thing
# for every number in 1 to 10
    # fit the f string format
    # and then join that string to the others with \n as delimiter

'1 * 5 = 5\n2 * 5 = 10\n3 * 5 = 15\n4 * 5 = 20\n5 * 5 = 25\n6 * 5 = 30\n7 * 5 = 35\n8 * 5 = 40\n9 * 5 = 45\n10 * 5 = 50'

In [31]:
# this one is wrong because:
# 1. return statement is inside for loop. it iterates once, outputs the first result, and stops.
# 2. you're mashing all the elements in the f string together via .join?

def multi_table(number):
    for i in range(1, 11):
        return '\n'.join(f'{i} * {number} = {i*number}')
    
multi_table(4)

'1\n \n*\n \n4\n \n=\n \n4'

In [44]:
# to correct it, you can do .append and output a list

def multi_table(number):
    result = []
    for i in range(1, 11):
        result.append(f'{i} * {number} = {i*number}')
    return result

multi_table(4)

['1 * 4 = 4',
 '2 * 4 = 8',
 '3 * 4 = 12',
 '4 * 4 = 16',
 '5 * 4 = 20',
 '6 * 4 = 24',
 '7 * 4 = 28',
 '8 * 4 = 32',
 '9 * 4 = 36',
 '10 * 4 = 40']

In [46]:
list_result = multi_table(4)

'\n'.join(list_result)

'1 * 4 = 4\n2 * 4 = 8\n3 * 4 = 12\n4 * 4 = 16\n5 * 4 = 20\n6 * 4 = 24\n7 * 4 = 28\n8 * 4 = 32\n9 * 4 = 36\n10 * 4 = 40'

In [26]:
def multi_table(number):
    return '\n'.join(f'{i} * {number} = {i*number}' for i in range(1, 11))

In [27]:
multi_table(4)

'1 * 4 = 4\n2 * 4 = 8\n3 * 4 = 12\n4 * 4 = 16\n5 * 4 = 20\n6 * 4 = 24\n7 * 4 = 28\n8 * 4 = 32\n9 * 4 = 36\n10 * 4 = 40'