John has invited some friends. His list is:

s = "Fred:Corwill;Wilfred:Corwill;Barney:Tornbull;Betty:Tornbull;Bjon:Tornbull;Raphael:Corwill;Alfred:Corwill";
Could you make a program that

makes this string uppercase
gives it sorted in alphabetical order by last name.
When the last names are the same, sort them by first name. Last name and first name of a guest come in the result between parentheses separated by a comma.

So the result of function meeting(s) will be:

"(CORWILL, ALFRED)(CORWILL, FRED)(CORWILL, RAPHAEL)(CORWILL, WILFRED)(TORNBULL, BARNEY)(TORNBULL, BETTY)(TORNBULL, BJON)"
It can happen that in two distinct families with the same family name two people have the same first name too.

Notes
You can see another examples in the "Sample tests".

In [33]:
def meeting(s):
    names = []
    result = ''
    for name in s.upper().split(';'):
        a, b = name.split(':')
        names.append(f'{b}, {a}')
    print(sorted(names))
    for name in sorted(names):
        result += f'({name})'
    return result.upper()

In [34]:
s = "Fred:Corwill;Wilfred:Corwill;Barney:Tornbull;Betty:Tornbull;Bjon:Tornbull;Raphael:Corwill;Alfred:Corwill";
meeting(s)

['CORWILL, ALFRED', 'CORWILL, FRED', 'CORWILL, RAPHAEL', 'CORWILL, WILFRED', 'TORNBULL, BARNEY', 'TORNBULL, BETTY', 'TORNBULL, BJON']

'(CORWILL, ALFRED)(CORWILL, FRED)(CORWILL, RAPHAEL)(CORWILL, WILFRED)(TORNBULL, BARNEY)(TORNBULL, BETTY)(TORNBULL, BJON)'

In [35]:
s = 'Alexis:Wahl;John:Bell;Victoria:Schwarz;Abba:Dorny;Grace:Meta;Ann:Arno;Madison:STAN;Alex:Cornwell;Lewis:Kern;Megan:Stan;Alex:Korn'

meeting(s)

['ARNO, ANN', 'BELL, JOHN', 'CORNWELL, ALEX', 'DORNY, ABBA', 'KERN, LEWIS', 'KORN, ALEX', 'META, GRACE', 'SCHWARZ, VICTORIA', 'STAN, MADISON', 'STAN, MEGAN', 'WAHL, ALEXIS']

'(ARNO, ANN)(BELL, JOHN)(CORNWELL, ALEX)(DORNY, ABBA)(KERN, LEWIS)(KORN, ALEX)(META, GRACE)(SCHWARZ, VICTORIA)(STAN, MADISON)(STAN, MEGAN)(WAHL, ALEXIS)'

In [20]:
names = []
for name in s.split(';'):
    a, b = name.split(':')
    names.append(f'{b}, {a}')

In [21]:
sorted(names)

['Corwill, Alfred',
 'Corwill, Fred',
 'Corwill, Raphael',
 'Corwill, Wilfred',
 'Tornbull, Barney',
 'Tornbull, Betty',
 'Tornbull, Bjon']

In [23]:
result = ''
for name in sorted(names):
    result += f'({name})'
    
result

'(Corwill, Alfred)(Corwill, Fred)(Corwill, Raphael)(Corwill, Wilfred)(Tornbull, Barney)(Tornbull, Betty)(Tornbull, Bjon)'