In [ ]:
Your goal in this kata is to implement a difference function, which subtracts one list from another and returns the result.

It should remove all values from list a, which are present in list b keeping their order.

array_diff([1,2],[1]) == [2]
If a value is present in b, all of its occurrences must be removed from the other:

array_diff([1,2,2,2,3],[2]) == [1,3]

In [ ]:
def array_diff(a, b):
    seta = list(set(a))
    for number in b:
        if number in seta:
            return seta.remove(number)

In [40]:
a = [1,2,2,2,3, 4, 5, 6, 6]
seta = list(set(a))
seta

[1, 2, 3, 4, 5, 6]

In [41]:
b = [2, 3]
setb = list(set(b))
setb

[2, 3]

In [39]:
for number in seta:
    for check in setb:
        if check == number:
            seta = seta.remove(check)
            
seta

TypeError: 'NoneType' object is not iterable

In [21]:
seta

{1, 3, 4, 5, 6}

In [20]:
seta.remove(2)

In [18]:
lista

[1, 3, 4, 5, 6]

In [11]:
lista = list(seta)

AttributeError: 'NoneType' object has no attribute 'remove'

In [72]:
a = [1,2,2,2,3, 4, 5, 6, 6]


b = [2, 3, 4, 5]

for number in b:
    if number in seta:
        seta.remove(number)
    print(seta)

None
[1, 3, 4, 5, 6]
None
[1, 4, 5, 6]
None
[1, 5, 6]
None
[1, 6]

In [77]:
a = [1,2,2,2,3, 4, 5, 6, 6]
seta = list(set(a))
seta

[1, 2, 3, 4, 5, 6]

In [78]:
print(seta.remove(3))

None

In [84]:
a = [1,2,2,2,3, 4, 5, 6, 6]

b = [2, 3, 4, 5]

final = []
for number in a:
    if number not in b:
        final.append(number)
final

[1, 6, 6]

In [85]:
[number for number in a if number not in b]

[1, 6, 6]

moral of the story: 
instead of removing stuff, build a new list instead