In [ ]:
Task
Given a list of digits, return the smallest number that could be formed from these digits, using the digits only once (ignore duplicates).

Notes:
Only positive integers will be passed to the function (> 0 ), no negatives or zeros.
Input >> Output Examples
minValue ({1, 3, 1})  ==> return (13)
Explanation:
(13) is the minimum number could be formed from {1, 3, 1} , Without duplications

minValue({5, 7, 5, 9, 7})  ==> return (579)
Explanation:
(579) is the minimum number could be formed from {5, 7, 5, 9, 7} , Without duplications

minValue({1, 9, 3, 1, 7, 4, 6, 6, 7}) return  ==> (134679)
Explanation:
(134679) is the minimum number could be formed from {1, 9, 3, 1, 7, 4, 6, 6, 7} , Without duplications

In [10]:
numbers = [4, 7, 5, 7]

unique = list(set(numbers))
unique

[4, 5, 7]

In [42]:
numbers = [1, 2, 10, 4, 7, 5, 7, 5, 3, 1]

In [43]:
set(numbers)

{1, 2, 3, 4, 5, 7, 10}

In [34]:
sorted(set(numbers))

[3, 4, 5, 7]

In [24]:
result = ''
unique = list(set(numbers))
for i in range(len(unique)):
    result += str(unique[i])
int(result)

3457

In [ ]:
digits = [8, 1, 4]

def min_value(digits):
    result = ''
    print(set(digits))
    unique = sorted(list(set(digits)))
    print(unique)
    for i in range(len(unique)):
        result += str(unique[i])
    return int(result)

min_value(digits)

In [46]:
def min_value(digits):
    unique = sorted(set(digits))
    return int(''.join([str(unique[i]) for i in range(len(unique))]))

In [47]:
min_value(digits)

148

In [ ]:
# others

In [44]:
def min_value(digits):
     return int("".join(map(str,sorted(set(digits)))))

In [45]:
def min_value(digits):
    return int("".join(str(x) for x in sorted(set(digits))))