In [ ]:
Write a solution to create a DataFrame from a 2D list called student_data. This 2D list contains the IDs and ages of some students.

The DataFrame should have two columns, student_id and age, and be in the same order as the original 2D list.

The result format is in the following example.

 

Example 1:

Input:
student_data:
[
  [1, 15],
  [2, 11],
  [3, 11],
  [4, 20]
]
Output:
+------------+-----+
| student_id | age |
+------------+-----+
| 1          | 15  |
| 2          | 11  |
| 3          | 11  |
| 4          | 20  |
+------------+-----+
Explanation:
A DataFrame was created on top of student_data, with two columns named student_id and age.

In [2]:
import pandas as pd

In [ ]:
import pandas as pd

def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    df = pd.DataFrame(data=student_data, columns = ['student_id', 'age'])
    return df

In [4]:
data = [[1,15],[2,11],[3,11],[4,20]]

In [8]:

df = pd.DataFrame(data)
df

   0   1
0  1  15
1  2  11
2  3  11
3  4  20

In [10]:
df['student_id'] = df[0]

In [11]:
df['age'] = df[1]

In [12]:
df

   0   1  student_id  age
0  1  15           1   15
1  2  11           2   11
2  3  11           3   11
3  4  20           4   20