In [ ]:
DataFrame students
+-------------+--------+
| Column Name | Type   |
+-------------+--------+
| student_id  | int    |
| name        | object |
| age         | int    |
+-------------+--------+

Write a solution to select the name and age of the student with student_id = 101.

The result format is in the following example.

 

Example 1:
Input:
+------------+---------+-----+
| student_id | name    | age |
+------------+---------+-----+
| 101        | Ulysses | 13  |
| 53         | William | 10  |
| 128        | Henry   | 6   |
| 3          | Henry   | 11  |
+------------+---------+-----+
Output:
+---------+-----+
| name    | age | 
+---------+-----+
| Ulysses | 13  |
+---------+-----+
Explanation:
Student Ulysses has student_id = 101, we select the name and age.

In [ ]:
import pandas as pd

def selectData(students: pd.DataFrame) -> pd.DataFrame:
    return students[students['student_id'] == 101].drop(columns='student_id')

In [5]:
import pandas as pd

# Define the data as a list of dictionaries
data = [
    {"student_id": 101, "name": "Ulysses", "age": 13},
    {"student_id": 53, "name": "William", "age": 10},
    {"student_id": 128, "name": "Henry", "age": 6},
    {"student_id": 3, "name": "Henry", "age": 11}
]

# Create the DataFrame
students = pd.DataFrame(data)

# Print the DataFrame
print(students)

   student_id     name  age
0         101  Ulysses   13
1          53  William   10
2         128    Henry    6
3           3    Henry   11

In [ ]:
def selectData(students: pd.DataFrame) -> pd.DataFrame:
    return students.loc[students["student_id"] == 101, ["name", "age"]]
    # OR
    return students.loc[students["student_id"] == 101, "name" :]
    # OR
    return students[students['student_id'] == 101][['name', 'age']]