this will be used as main python note-taking resource!!! (better than notion which can't run code)
to-dos:
- decide how to section it out
- decide on format for each section 
- reorganize everything and clean it up

# Testing

In [59]:
# strategic print statements
def find_short(s):
    stringlist = s.split()
    print(stringlist)
    shortest = 'aaaaaaaaa'
    
    for word in stringlist:
        if len(word) < len(shortest):
            shortest = word
            print(shortest)
        return len(shortest)

find_short('as;dlfkj asdfadsf asdfasdf asdfas ad')

['as;dlfkj', 'asdfadsf', 'asdfasdf', 'asdfas', 'ad']
as;dlfkj

8

In [2]:
hello = 'hello world'
print(hello[::-1])

dlrow olleh

In [3]:
hello[::-1]

'dlrow olleh'

# Math

In [49]:
# modelo
8 % 3

2

In [ ]:
# check for perfect squares
n*0.5 % 1 #???

In [26]:
string = "bitcoin take over the world maybe who knows perhaps"
stringlist = string.split()
longest = ''

for n in stringlist:
    if len(stringlist[n]) < len(stringlist[n+1]):
        longest = stringlist[n+1]

longest

TypeError: list indices must be integers or slices, not str

### binary

`s = s * 2 + digit`: For each digit in the binary number, multiply the current value of s by 2 (effectively shifting the bits to the left) and then add the current digit. This is a common technique for converting binary to decimal. For example, if s is 0 and the next digit is 1, then s * 2 + 1 equals 1. If the next digit is 0, then s * 2 + 0 equals 2. And so on.

# Integers

In [18]:
# creating
# int()

whatever = '14234234'
int(whatever)

14234234

# Strings
1. Strings
   - Create:
     - Initializing a String
   - Read:
     - Accessing Characters by Index
     - Slicing Strings
     - Iterating Over Characters
   - Update:
     - Strings are Immutable (No direct update, create a new string)
   - Delete:
     - No direct deletion operation (strings are immutable)
     - Deleting Entire String (Variable Deletion)

## Creating

### Initializing a String

In [ ]:
# f strings
# f'{VARIABLE} stringstringstring {VARIABLE}'
# can convert many things to strings, including booleans

In [15]:
# convert to string
# str(b)

b = 14234234
str(b)

'14234234'

## Reading

### Accessing Characters by Index

In [84]:
# indexing
a = "xyaabbbccccdefww"
a[1]

'y'

### Slicing Strings

### Iterating Over Characters

## Updating

(Strings are immutable and cannot be updated. Must create new. String operations down below.)

## Deleting

No direct deletion operation (strings are immutable)

## String Operations
   - Concatenation:
     - Concatenating Strings
     - Using the `+` Operator
     - Using the `str.join()` Method
   - Searching and Finding:
     - Finding Substrings (e.g., `str.find()`, `str.index()`)
     - Counting Occurrences (e.g., `str.count()`)
     - Checking Substring Existence (e.g., `in` operator)
   - Formatting and Interpolation:
     - String Formatting (e.g., `%`, `str.format()`, f-strings)
     - String Interpolation (f-strings)
     - Template Strings (`string.Template`)
   - Splitting and Joining:
     - Splitting Strings (e.g., `str.split()`)
     - Joining Strings (e.g., `str.join()`)
     - Partitioning Strings (e.g., `str.partition()`)
   - Case Conversion:
     - Converting Case (e.g., `str.upper()`, `str.lower()`, `str.title()`)
     - Swapping Case (e.g., `str.swapcase()`)
   - Stripping and Cleaning:
     - Removing Whitespace (e.g., `str.strip()`, `str.lstrip()`, `str.rstrip()`)
     - Removing Specific Characters (e.g., `str.strip(chars)`)
     - Replacing Characters (e.g., `str.replace()`)
   - Other Operations:
     - Checking String Properties (e.g., `str.isalnum()`, `str.isalpha()`, `str.isdigit()`)
     - Formatting Strings (e.g., `str.center()`, `str.ljust()`, `str.rjust()`)
     - Encoding and Decoding (e.g., `str.encode()`, `str.decode()`)
     - String Length (e.g., `len(str)`)

### Concatenation

In [4]:
# concactenation 
a = "xyaabbbccccdefww"
b = "xxxxyyyyabklmopq"
a+b

'xyaabbbccccdefwwxxxxyyyyabklmopq'

In [5]:
# list -> string: 
# 'DELIMITER'.join()
# list to string

a = "xyaabbbccccdefww"
a_inorder = sorted(a) # this spits out a list
' '.join(a_inorder) # join that list together

'a a b b b c c c c d e f w w x y'

### Searching and Finding

In [11]:
# STRING.find('SUBSTRING')
# returns index position of first occurrence of that letter in the string
# returns -1 if not found

whatever = 'a;dlasfas;dfkla'
whatever.find('d')

2

In [12]:
# .index()
# STRING.index('SUBSTRING')
# returns index position of first occurrence of that letter in the string
# returns error if not found
# more commonly used with lists?

whatever = 'a;dlasfas;dfkla'
whatever.index('a;d')

0

#### Counting occurences

In [55]:
# STRING.count()
# STRING.count(substring, start= …., end= ….)

my_string = "Apple"
char_count = my_string.count('A')
char_count

1

In [ ]:
strings = ["Red", "Green", "orange"]
char_to_count = 'e'

### Formatting and Interpolation
- String Formatting (e.g., %, str.format(), f-strings)
- String Interpolation (f-strings)
- Template Strings (string.Template)

In [14]:
# f strings
# f'{VARIABLE} stringstringstring {VARIABLE}'

abc = '3244234'

f'i have {abc} fish'

'i have 3244234 fish'

### Splitting and Joining

In [54]:
# STRING.split(SEPARATOR, MAXSPLIT)
# splits string into list
# whitespace is default separator
# string to list

text = 'geeks for geeks'
# Splits at space
print(text.split())
 
word = 'geeks, for, geeks'
# Splits at ','
print(word.split(','))
 
word = 'CatBatSatFatOr'
# Splitting at t
print(word.split('t'))

word = 'geeks, for, geeks, pawan'
# maxsplit: 1
print(word.split(', ', 1))

['geeks', 'for', 'geeks']
['geeks', ' for', ' geeks']
['Ca', 'Ba', 'Sa', 'Fa', 'Or']
['geeks', 'for, geeks, pawan']

In [53]:
# spit every letter
# list(text)
# string to list

text = 'geeks for geeks'
list(text)

['g', 'e', 'e', 'k', 's', ' ', 'f', 'o', 'r', ' ', 'g', 'e', 'e', 'k', 's']

#### Joining a string

In [59]:
# 'DELIMITER'.join()

# list to string
list1 = ['g', 'e', 'e', 'k', 's']
"".join(list1)

'geeks'

In [1]:
# sorted(STRING)
# string to list, sorted

a = "xyaabbbccccdefww"
a_inorder = sorted(a) # this spits out a list. string to list
a_inorder

['a',
 'a',
 'b',
 'b',
 'b',
 'c',
 'c',
 'c',
 'c',
 'd',
 'e',
 'f',
 'w',
 'w',
 'x',
 'y']

In [62]:
# combine .join() and sorted() to alphabetize letters in a string

a = "xyaabbbccccdefww"
''.join(sorted(a))

'aabbbccccdefwwxy'

### Case Conversion

### Stripping and Cleaning

### Other Operations

#### Reversing a string (with indexing)

In [7]:
hello = 'hello world'
hello[::-1]

'dlrow olleh'

In [27]:
# string -> list, sorted
# sorted(STRING)
# string to list

a = "xyaabbbccccdefww"
sorted(a)

['a',
 'a',
 'b',
 'b',
 'b',
 'c',
 'c',
 'c',
 'c',
 'd',
 'e',
 'f',
 'w',
 'w',
 'x',
 'y']

#### Translating characters `.translate()`

In [82]:
# .translate() is used with a mapping function .maketrans()
# similar to map()?

txt = "Hello Sam!"

mytable = str.maketrans("S", "P")

print(txt.translate(mytable))

# take notes: https://www.geeksforgeeks.org/python-string-translate/

Hello Pam!

'xyaabbbccccdefww'

#### formatting

In [24]:
# capitalize first letter of string: .capitalize()
a = "xyaa bbbccc cdefww"
a.capitalize()

'Xyaa bbbccc cdefww'

In [23]:
# capitalize every word: .title()
a = "xyaabbb ccccd efww"
a.title()

'Xyaabbb Ccccd Efww'

In [18]:
# lowercase everything: .lower()

whatever = 'A;SLKkajdsa;kjwa;KJ;K'
whatever.lower()

'a;slkkajdsa;kjwa;kj;k'

'E'

#### sorting/alphabetizing

In [4]:
# sorted(STRING)
# good for sorting/alphabetizing a string.
# string to list
a = "xyaabbb ccccd efww"
sorted(a)

[' ',
 ' ',
 'a',
 'a',
 'b',
 'b',
 'b',
 'c',
 'c',
 'c',
 'c',
 'd',
 'e',
 'f',
 'w',
 'w',
 'x',
 'y']

In [9]:
# sorting. sort and join

a = "xyaabbbccccdefww"
a_new = ''.join(sorted(a))
a_new

'aabbbccccdefwwxy'

#### ord()

In [6]:
# returns the Unicode code from a given character
# useful when you need to assign a value to alphabet etc
# can only take one character strings

ord('a')

97

In [8]:
# this function will assign values for each letter of the alphabet, since a=97
# 1 for a, 2 for b, etc:
# ord('LETTER') - 96

ord('c') - 96

3

# Sets

In [13]:
# unique values in a string = SET

a = "xyaabbbccccdefww"
b = "xxxxyyyyabklmopq"
set(a)

{'a', 'b', 'c', 'd', 'e', 'f', 'w', 'x', 'y'}

In [20]:
# sorting (list???)
sorted(set(a))

['a', 'b', 'c', 'd', 'e', 'f', 'w', 'x', 'y']

In [25]:
# sort and join (back to string)
a_sorted_unique = ''.join(sorted(set(a)))
a_sorted_unique

'abcdefwxy'

In [27]:
def longest(a1, a2):
    # merge strings
    # return unique values, sorted
    return ''.join(sorted(set(a1+a2)))

'xyaabbbccccdefwwxxxxyyyyabklmopq'

# Lists

## Creating
   - Create:
       - Initializing a List
       - Appending Elements
       - Inserting Elements
       - List Comprehensions

In [ ]:
# typical way with []
whateverlist = [2, 4, '5343', 'heres a string']

In [2]:
# sorted(STRING)
# string to list, but sorted

example = 'abweacoiwaef'
sorted(example)

['a', 'a', 'a', 'b', 'c', 'e', 'e', 'f', 'i', 'o', 'w', 'w']

### *list()* can convert many things to a list

In [15]:
# string
example_string = 'awjefaipsdf' 
list(example_string)

['a', 'w', 'j', 'e', 'f', 'a', 'i', 'p', 's', 'd', 'f']

In [18]:
# tuple
example_tuple = (1, 2, 3)
list(example_tuple)

[1, 2, 3]

In [17]:
# range()
# range(start, stop, step)
# (range by itself returns an object)

list(range(5))

[0, 1, 2, 3, 4]

### Appending elements

In [19]:
# LIST.append(VALUE)
# add stuff to the end

thislist = ["apple", "banana", "cherry"]
thislist.append("orange") # updates the list
thislist

['apple', 'banana', 'cherry', 'orange']

In [16]:
# loop using LIST.append(VALUE)

import math

def square_root(numbers):
    result = []
    for number in numbers:
        result.append(math.sqrt(number))
    return result

numbers = [1, 4, 9, 16, 25, 36, 49, 64, 81]
square_root(numbers)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

### Inserting elements

In [21]:
# LIST.insert(INDEX, VALUE)
# inserting stuff

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange") # adds 'orange' at index 1
thislist

['apple', 'orange', 'banana', 'cherry']

### List Comprehensions
A Python list comprehension consists of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element in the Python list. 
<br>Return:The return value of a list comprehension is a new list containing the modified elements that satisfy the given criteria.
<br> https://www.geeksforgeeks.org/python-list-comprehension/

In [5]:
# NEW_LIST = [ EXPRESSION(ELEMENT) for ELEMENT in OLD_LIST if CONDITION ]

In [3]:
# simple

numbers = [12, 13, 14,] 
doubled = [x *2  for x in numbers] 
print(doubled)

[24, 26, 28]

In [7]:
# matrix

matrix = [[j for j in range(3)] for i in range(3)] 
matrix

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

#### with math

In [15]:
# print table of 10  
# for loop
numbers = [] 
for i in range(1, 6): 
    numbers.append(i*10) 
print(numbers)

[10, 20, 30, 40, 50]

In [16]:
# list comp
numbers = [i*10 for i in range(1, 6)]  
print(numbers)

[10, 20, 30, 40, 50]

In [ ]:
# using lambda to print table of 10 

numbers = list(map(lambda i: i*10, [i for i in range(1, 6)])) 
  
print(numbers)

#### comparing for loops vs list comp

In [10]:
# Traditional approach of iterating 
List = [] 
for character in 'Geeks 4 Geeks!': 
    List.append(character)
print(List)

['G', 'e', 'e', 'k', 's', ' ', '4', ' ', 'G', 'e', 'e', 'k', 's', '!']

In [11]:
# Using list comprehension to iterate through loop 
List = [character for character in 'Geeks 4 Geeks!'] 
print(List)

['G', 'e', 'e', 'k', 's', ' ', '4', ' ', 'G', 'e', 'e', 'k', 's', '!']

#### Nested list comprehensions

In [12]:
# matrix
# for loop way

matrix = [] 
  
for i in range(3): 
  
    # Append an empty sublist inside the list 
    matrix.append([]) 
  
    for j in range(5): 
        matrix[i].append(j) 
  
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [13]:
# Nested list comprehension 
matrix = [[j for j in range(5)] for i in range(3)] 
  
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [ ]:
# playing with enumerate and zip

In [19]:
names = ['Mukesh', 'Roni', 'Chari']
ages = [24, 50, 18]

In [48]:
list(enumerate(names, start=1))

[(1, 'Mukesh'), (2, 'Roni'), (3, 'Chari')]

In [46]:
dict(enumerate(names[0]))

{0: 'M', 1: 'u', 2: 'k', 3: 'e', 4: 's', 5: 'h'}

In [45]:
dict(enumerate(names))

{0: 'Mukesh', 1: 'Roni', 2: 'Chari'}

In [29]:
zip(names, ages)

In [28]:
list(enumerate(zip(names, ages)))

[(0, ('Mukesh', 24)), (1, ('Roni', 50)), (2, ('Chari', 18))]

In [25]:
for i, (name, age) in enumerate(zip(names, ages)):
    print(i, name, age)

0 Mukesh 24
1 Roni 50
2 Chari 18

## Read
   - Read:
       - Accessing Elements by Index
       - Slicing Lists
       - Iterating Over Lists

### Accessing Elements by Index
`my_list[start:end:step]`  # start is inclusive, end is exclusive

### Slicing Lists

In [49]:
my_list = ['aaa', 'bbb', 'ccc', 'ddd']
my_list[1:]

['bbb', 'ccc', 'ddd']

In [50]:
# end before last one
my_list[:-1]

['aaa', 'bbb', 'ccc']

In [51]:
# start at second to last one 
my_list[-2:]

['ccc', 'ddd']

In [52]:
# step size: return every second element

my_list = ['aaa', 'bbb', 'ccc', 'ddd']
with_steps = my_list[1::2]
with_steps

['bbb', 'ddd']

### Iterating Over Lists

#### min()
 find minimum value in an iterable
 
 min(a, b, c, …, key=func)

In [2]:
numbers = [23,25,65,21,98]
print(min(numbers))

21

In [9]:
languages = ["Python", "C Programming", "Java", "JavaScript",'PHP','Kotlin']
small = min(languages)
print("The smallest string is:", small)
# prints out lowest valued character in ascii. not sure how useful this is

The smallest string is: C Programming

#### max()
find max value in iterable

In [1]:
numbers = [23,25,65,21,98]
print(max(numbers))

98

### Others

In [2]:
# counting elements in a list: 
# LIST.count(OBJECT)

numbers = [40, 45, 34, 12, -34, -5, 47, -28, -43, -25, -35, -43, 50, -15, -43, -47, 37, -42, 47, -1, 50, 9, -22, 50,
 -44, 22, -8, -10, -47, -34, 27, -29, 37, -49, -33, -35, -45, 6, 48, 48, 30, 1, -28, -12, 34, 1, 25, -43, -4,
 24, 44, 29, -9, 19, -40, 46, -20, 36, 48, 13, 26, 12, -14, -25, -36, 1, -20, -33, 10, 15, 18, 11, 27, 39, 14,
 23, -17, 33, -25, 9, 1, 16, -20, 38, 17, 14, -31, -14, -43, -34, 32, 32, 8, 5, -39, 23, 24, -43, -33, -30]

numbers.count(1)

4

In [15]:
# .index()
# LIST.index(VALUE)
# returns index of first occurrence of value

numbers = [40, 45, 34, 12, -34, -5, 47, -28, -43, -25, -35, -43, 50, -15, -43, -47, 37, -42, 47, -1, 50, 9, -22, 50,
 -44, 22, -8, -10, -47, -34, 27, -29, 37, -49, -33, -35, -45, 6, 48, 48, 30, 1, -28, -12, 34, 1, 25, -43, -4,
 24, 44, 29, -9, 19, -40, 46, -20, 36, 48, 13, 26, 12, -14, -25, -36, 1, -20, -33, 10, 15, 18, 11, 27, 39, 14,
 23, -17, 33, -25, 9, 1, 16, -20, 38, 17, 14, -31, -14, -43, -34, 32, 32, 8, 5, -39, 23, 24, -43, -33, -30]

numbers.index(45)

1

## Update
   - Update:
       - Modifying Elements by Index
       - Slicing and Assigning
       
remember that list methods will run the method on the list and save it (most of the time) but won't print it out

### Modifying Elements by Index
`my_list[start:end:step]`  # start is inclusive, end is exclusive

['bbb', 'ccc', 'ddd']

['aaa', 'bbb', 'ccc']

['ccc', 'ddd']

['bbb', 'ddd']

### Slicing and Assigning

['apple', 'banana', 'cherry', 'orange']

In [37]:
# reverse a list
# LIST.reverse() 

thislist = ["apple", "banana", "cherry"]
thislist.reverse() # updates the list
thislist

['cherry', 'banana', 'apple']

In [42]:
# reverse by index

thislist = ["apple", "banana", "cherry"]
thislist[::-1]

['cherry', 'banana', 'apple']

### Extending and appending

In [4]:
# LIST.extend(ITERABLE)
# join a list into another list

my_list = ['geeks', 'for']
another_list = [6, 0, 4, 1]
my_list.extend(another_list)
my_list

['geeks', 'for', 6, 0, 4, 1]

In [6]:
# LIST.append(ITEM)
# add a list into another list

my_list = ['geeks', 'for', 'geeks']
another_list = [6, 0, 4, 1]
my_list.append(another_list)
my_list

['geeks', 'for', 'geeks', [6, 0, 4, 1]]

In [ ]:
# .join() is only for strings (can turn a list to a string tho)

### Inserting elements

In [ ]:
# LIST.insert(INDEX, VALUE)
# inserting stuff

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange") # adds 'orange' at index 1
thislist

In [44]:
# another way of adding stuff
# [] and + operator

test_list = [1, 3, 4, 5, 7]
[6, 8] + test_list

[6, 8, 1, 3, 4, 5, 7]

In [43]:
# using slicing to append at beginning. append 6

test_list = [1, 3, 4, 5, 7]
 
test_list[:0] = [6, 123, 1423]
test_list

[6, 123, 1423, 1, 3, 4, 5, 7]

### Reversing

In [10]:
# with index

test_list = [1, 3, 4, 5, 7]
test_list[::-1]

[7, 5, 4, 3, 1]

In [12]:
# with reversed() function

test_list = [1, 3, 4, 5, 7]
list(reversed(test_list))

[7, 5, 4, 3, 1]

## Delete
- Removing Elements by Value
- Removing Elements by Index
- Clearing the Entire List

### Removing Elements by Value

In [16]:
# .remove()
# LIST.remove(VALUE)
# only remove the first item in the list. not that great

thislist = ["apple", "banana", "cherry"]
thislist.remove('apple')
thislist

['banana', 'cherry']

### Removing Elements by Index

#### del

In [65]:
# del 

l = [0, 10, 20, 30, 40, 50]

del l[0]
print(l)

[10, 20, 30, 40, 50]

In [66]:
l = [0, 10, 20, 30, 40, 50]

del l[3]
print(l)

[0, 10, 20, 40, 50]

In [68]:
l = [0, 10, 20, 30, 40, 50]

del l[-1]
print(l)

[0, 10, 20, 30, 40]

In [64]:
l = [0, 10, 20, 30, 40, 50]
del l[-2]
print(l)

[0, 10, 20, 30, 50]

#### .pop()

In [70]:
# .pop()
# updates the list as well?

l = [0, 10, 20, 30, 40, 50]

popped_item = l.pop(0)
print(popped_item)
print(l)

0
[10, 20, 30, 40, 50]

In [71]:
l = [0, 10, 20, 30, 40, 50]

popped_item = l.pop(3)
print(popped_item)
print(l)

30
[0, 10, 20, 40, 50]

In [72]:
popped_item = l.pop(-2)
print(popped_item)
print(l)

40
[0, 10, 20, 50]

In [74]:
# not specifying an index -> last index is popped
l = [0, 10, 20, 30, 40, 50]
popped_item = l.pop()
print(popped_item)

50

### Clearing the Entire List

#### clear()

In [75]:
l = [0, 1, 2]

l.clear()
print(l)

[]

In [ ]:
# conditions

'''find next square root'''

import math

def find_next_square(sq):
    # Return the next square if sq is a square, -1 otherwise
    square_root = math.sqrt(sq)
    # if square root is an integer
    if square_root % 1 == 0:
        return (square_root + 1) ** 2
    # if argument is not a perf sq, return, -1, None, or null
    else:
        return -1

remove the geese from birds list

In [16]:
# comparing lists and filtering

geese = ["African", "Roman Tufted", "Toulouse", "Pilgrim", "Steinbacher"]
birds =  ["Mallard", "Hook Bill", "African", "Crested", "Pilgrim", "Toulouse", "Blue Swedish"]

# remove the geese from birds list

# old school loop
def goose_filter(birds):
    final = []
    for bird in birds:
        if bird not in geese:
            final.append(bird)
    return final

In [17]:
# LIST COMP
def goose_filter(birds):
    return [bird for bird in birds if bird not in geese]

goose_filter(birds)

['Mallard', 'Hook Bill', 'Crested', 'Blue Swedish']

label index of each list item:

In [62]:
# for i in range(len(arr)):
# then compare arr[i] to arr[i+1] or whatever

In [ ]:
# list comprehension
''' invert positives to negatives, negatives to positives'''
def invert(lst):
    return [-x for x in lst]

# Dictionaries

`person = {"name": "Alice", "age": 30, "city": "London"}`

## Creating
   - Create:
       - Initializing a Dictionary
       - Adding Key-Value Pairs

### Initializing a Dictionary

In [24]:
# using zip() and dict comprehensions. omg
# zip(ITERABLE)
# returns a single iterator object (need to output using list() or set() etc)

stocks = ['GEEKS', 'For', 'geeks']
prices = [2175, 1127, 2750]
 
new_dict = {stocks: prices for stocks,prices in zip(stocks, prices)} # this code won't run as a list comp
new_dict

{'GEEKS': 2175, 'For': 1127, 'geeks': 2750}

In [19]:
# zip()
# take 2 lists and zip them into a dict
# uhh much easier way to do it than above:

dict(zip(stocks, prices))

{'GEEKS': 2175, 'For': 1127, 'geeks': 2750}

SyntaxError: invalid syntax (1252239731.py, line 1)

### Adding Key-Value Pairs

In [14]:
# Adding a new key-value pair
person = {"name": "Alice", "age": 30, "city": "London"}

person["occupation"] = "Programmer"  
person

'Alice'

In [6]:
# indexing
'''return the answer for how many petals'''

def how_much_i_love_you(nb_petals):
    return ["I love you", "a little", "a lot", "passionately", "madly", "not at all"][nb_petals % 6 - 1]

## Reading
   - Read:
       - Accessing Values by Key
       - Checking Key Existence
       - Iterating Over Keys or Values

### Basics

In [ ]:
# list of all keys
# DICT.keys()

person = {"name": "Alice", "age": 30, "city": "London"}
person.keys()

In [13]:
# list of all values
# DICT.values()

person = {"name": "Alice", "age": 30, "city": "London"}
person.values()

dict_values(['Alice', 30, 'London'])

In [12]:
# list of all key-value pairs as tuple
# DICT.items()

person = {"name": "Alice", "age": 30, "city": "London"}
person.items()

dict_items([('name', 'Alice'), ('age', 30), ('city', 'London')])

### Accessing Values by Key

dict_keys

In [17]:
# calling a value using a key
# DICT['KEY']

person = {"name": "Alice", "age": 30, "city": "London"}
person['name']

'Alice'

In [ ]:
DICT.keys() #=> LIST of all keys
DICT.values() #=> LIST of all values
DICT.items() #=> LIST of all pairs as TUPLES


len(DICT) #=> NUMBER of key-value pairs

DICT[KEY] #=> VALUE
DF['KEY1']['KEY2'] # nested. get key2 values inside key1?
DICT[
DICT.get(KEY, NULLVALUE) #=> VALUE, or NULLVALUE if not there

### Iterating Over Keys or Values

In [38]:
people = {
    "Alice": {"age": 30, "city": "London"},
    "Bob": {"age": 25, "city": "New York"},
    "Charlie": {"age": 42, "city": "Paris"},
}

In [39]:
# Iterating over Keys:
print("Iterating over dictionary keys:")
for name in people:
    print(name)

Iterating over dictionary keys:
Alice
Bob
Charlie

In [41]:
# Iterating over Key-Value Pairs:

print("\nIterating over dictionary key-value pairs:")
for name, info in people.items():
    print(f"Name: {name}")
    print(f"Age: {info['age']}")   # Accessing age within 'info'
    print(f"City: {info['city']}\n") # Accessing city within 'info'
    
# DICT.items() pulls out the key-value pairs as tuples: (key, value)
# therefore, passing two variables (name, info) on the loop will assign to (key, value)

Iterating over dictionary key-value pairs:
Name: Alice
Age: 30
City: London

Name: Bob
Age: 25
City: New York

Name: Charlie
Age: 42
City: Paris

## Updating
   - Update:
       - Modifying Values by Key
       - Adding New Key-Value Pairs

### Deleting
   - Delete:
       - Removing Key-Value Pairs
       - Clearing the Entire Dictionary

# Control Flow

- Conditional Statements (if, elif, else)
- Comparison Operators
- Logical Operators
- Truthiness and Falsiness
- Ternary Operator

## Conditional Statements (if, elif, else)

## Comparison Operators

## Logical Operators

## Truthiness and Falsiness

## Ternary Operator
the thing with the return statement containing if else statements

In [2]:

# number of hotdogs	price per unit (cents)
# n < 5	100
# n >= 5 and n < 10	95
# n >= 10	90

def sale_hotdogs(n):
    return n*100 if n < 5 else n*95 if 5 <= n < 10 else n*90 

sale_hotdogs(5)

475

# Loops and Iteration

1. Loops
   - for Loops:
     - Iterating Over Elements
     - Iterating Over Range of Numbers
     - Iterating Over Iterable Objects
     - Nested for Loops
   - while Loops:
     - Looping Until a Condition is Met
     - Infinite Loops
     - Exiting the Loop with `break` and `continue`
   - Loop Control Statements:
     - `break`: Exiting a Loop Prematurely
     - `continue`: Skipping Current Iteration
     - `pass`: Placeholder for Empty Loops
   - Iterating Over Data Structures:
     - Iterating Over Lists
     - Iterating Over Tuples
     - Iterating Over Dictionaries
     - Iterating Over Sets
   - Loop Patterns and Techniques:
     - Looping with Index and Value (enumerate)
     - Looping with Index Only (range)
     - Looping Backwards (reversed)
     - Looping with Condition (list comprehension)
     - Looping with Accumulator Pattern

## for loops

`for ITEM in SEQUENCE: 
    CODE-FOR-EACH-ITEM`

In [1]:
fruits = ["apple", "banana", "orange"]
for fruit in fruits:
    print("I like to eat", fruit) # Printing for each elements in the list

I like to eat apple
I like to eat banana
I like to eat orange

### 'DUH' stuff

####  Initializing empty integer (for calculations)

In [1]:
numbers = [40, 45, 34, 12, -34, -5, 47, -28, -43, -25, -35, -43, 50, -15, -43, -47, 37, -42, 47, -1, 50, 9, -22, 50,
 -44, 22, -8, -10, -47, -34, 27, -29, 37, -49, -33, -35, -45, 6, 48, 48, 30, 1, -28, -12, 34, 1, 25, -43, -4,
 24, 44, 29, -9, 19, -40, 46, -20, 36, 48, 13, 26, 12, -14, -25, -36, 1, -20, -33, 10, 15, 18, 11, 27, 39, 14,
 23, -17, 33, -25, 9, 1, 16, -20, 38, 17, 14, -31, -14, -43, -34, 32, 32, 8, 5, -39, 23, 24, -43, -33, -30]

sum(numbers) # correct total

77

In [3]:
# initialize OUTSIDE the for loop
# 'total' gets updated each iteration
# correct way

total = 0
for number in numbers:
    total += number
print(total)

77

In [4]:
# initialize INSIDE the for loop 
# 'total' reset to zero each iteration
# final print statement ends up showing only last number

for number in numbers:
    total = 0
    total += number
print(total)

-30

#### re-assigning to original variable vs new variable is giving a different output??

In [78]:
# re-assigning to original gives the output we want

string = 'hello'
vowels = ['a', 'e', 'i', 'o', 'u']

for vowel in vowels:
    string = string.replace(vowel, '')
    print(string, vowel)
    
string

hello a
hllo e
hllo i
hll o
hll u

'hll'

In [79]:
# re-assigning to new variable gives something else
# for each iteration: it's creating the new variable from scratch
# final output ends up being the output for the last iteration ('u' in this case)

string = 'hello'
vowels = ['a', 'e', 'i', 'o', 'u']

for vowel in vowels:
    new_string = string.replace(vowel, '')
    print(new_string, vowel)

new_string

hello a
hllo e
hello i
hell o
hello u

'hello'

#### location of print() statement changes things

In [80]:
string = 'hello'
vowels = ['a', 'e', 'i', 'o', 'u']

for vowel in vowels:
    string = string.replace(vowel, '')
    print(string, vowel)

hello a
hllo e
hllo i
hll o
hll u

In [81]:
string = 'hello'
vowels = ['a', 'e', 'i', 'o', 'u']

for vowel in vowels:
    print(string, vowel)
    string = string.replace(vowel, '')

hello a
hello e
hllo i
hllo o
hll u

In [ ]:
# count vowels in a string

def get_count(sentence):
    vowels = 'aeiou'
    count = 0
    for letter in sentence:
        if letter in vowels:
            count += 1 
    return count

# Functions
`def function_name(parameter1, parameter2, ...):
    # Code using the parameters`

## Functional Programming

Functional Programming
- Introduction to Functional Programming:
  - Overview of Functional Programming Paradigms
  - Benefits of Functional Programming

- First-Class Functions:
  - Functions as Objects
  - Passing Functions as Arguments
  - Returning Functions from Functions

- Higher-Order Functions:
  - Definition and Examples
  - Using Functions like `map()`, `filter()`, and `reduce()`

- Pure Functions:
  - Definition and Characteristics
  - Examples of Pure Functions
  - Benefits of Using Pure Functions

- Anonymous Functions (Lambdas):
  - Creating Lambda Functions
  - Using Lambda Functions with Higher-Order Functions

- Functional Programming Tools:
  - `map()`: Applying a Function to All Elements in an Iterable
        - Applying a Function to Elements of an Iterable
        - Syntax and Usage
        - Examples with Lists, Tuples, Sets, and Dictionaries
        - Mapping Functions with Multiple Iterables (zip)
        - Lambda Functions and map()
  - `filter()`: Filtering Elements Based on a Function
  - `reduce()`: Reducing an Iterable to a Single Value
  - `functools.partial()`: Creating Partial Functions

- Immutability:
  - Importance of Immutability in Functional Programming
  - Techniques for Achieving Immutability

- Recursion:
  - Definition and Examples
  - Recursive vs. Iterative Solutions
  - Tail Recursion

- Comprehensions:
  - List Comprehensions
  - Dictionary Comprehensions
  - Set Comprehensions

- Generator Expressions:
  - Creating Generators
  - Differences Between Generators and Comprehensions
  - Use Cases for Generators

- Functional Libraries:
  - Overview of Functional Libraries (e.g., `functools`, `itertools`)
  - Key Functions and Their Uses

- Decorators:
  - Understanding Decorators
  - Creating and Using Decorators
  - Built-in Decorators (`@staticmethod`, `@classmethod`, `@property`)

- Closures:
  - Definition and Examples
  - Use Cases for Closures
  - Implementing Closures in Python

- Currying:
  - Definition and Examples
  - Use Cases for Currying
  - Implementing Currying in Python

- Lazy Evaluation:
  - Definition and Examples
  - Benefits of Lazy Evaluation
  - Implementing Lazy Evaluation in Python

- Functional Error Handling:
  - Handling Errors Functionally
  - Using Monads for Error Handling (e.g., `Maybe`, `Either`)

- Functional Data Structures:
  - Overview of Immutable Data Structures
  - Using Immutable Data Structures in Python (e.g., `tuple`, `frozenset`)

- Functional Reactive Programming (FRP):
  - Introduction to FRP
  - Basic Concepts and Terminology
  - Implementing FRP in Python

- Performance Considerations:
  - Performance Implications of Functional Programming
  - Techniques for Optimizing Functional Code

#### Map Function

In [36]:
# Map function: can be used on various iterables (lists, sets, dictionary values, etc)
# applies given function to each item of an iterable

# map(FUNCTION, ITERABLE)

arr = ['23423', '234234', '51323']
new_arr = map(int, arr) # this returns a map object, which is NOT a list. it's an iterator.
list(new_arr) # need to convert the map object back to a list

[23423, 234234, 51323]

In [3]:
# examples
dna = 'AGTCCATCAGTGTATACCCC'
rna = {'A':'T', 'C':'G', 'G':'C', 'T':'A'}
''.join(list(map(rna.get, dna)))

'TCAGGTAGTCACATATGGGG'

In [6]:
# doing same with list comp
''.join([rna[i] for i in dna])

'TCAGGTAGTCACATATGGGG'

### return Statements

In [11]:
# for loops: beware of the return statement location!!
# having return statement INSIDE the loop only returns the first iteration

def encrypt(text, n):     
    for number in range(n):
        if text == '' or n < 0:
            return text
        else:
            text = text[1::2] + text[0::2]
            return text
        
print(encrypt("This is a test!", 0))
print(encrypt("This is a test!", 1))
print(encrypt("This is a test!", 2))
print(encrypt("This is a test!", 7))

None
hsi  etTi sats!
hsi  etTi sats!
hsi  etTi sats!

In [12]:
# having return statement INSIDE the loop only returns the first iteration
# another example where it's outside the else statement, but still inside the for loop

def encrypt(text, n):     
    for number in range(n):
        if text == '' or n < 0:
            return text
        else:
            text = text[1::2] + text[0::2]
        return text
    
print(encrypt("This is a test!", 0))
print(encrypt("This is a test!", 1))
print(encrypt("This is a test!", 2))
print(encrypt("This is a test!", 7))

None
hsi  etTi sats!
hsi  etTi sats!
hsi  etTi sats!

In [13]:
# this one is OUTSIDE the for loop and will do what you want it to
# (btw this function itself isn't optimized and it's better to just move the for loop inside the else statement)

def encrypt(text, n):     
    for number in range(n):
        if text == '' or n < 0:
            return text
        else:
            text = text[1::2] + text[0::2]
    return text
    
print(encrypt("This is a test!", 0))
print(encrypt("This is a test!", 1))
print(encrypt("This is a test!", 2))
print(encrypt("This is a test!", 7))

This is a test!
hsi  etTi sats!
s eT ashi tist!
 Tah itse sits!

In [ ]:
# taking user input
# input('TEXT TO BE DISPLAYED')

In [ ]:
# lambda is an an anonymous function

# take notes: https://www.geeksforgeeks.org/python-lambda-anonymous-functions-filter-map-reduce/

### wtf is this?? (random snippets to figure out later)

In [ ]:
return "%i %i" % (max(nn),min(nn))

### Basic Concepts:
- Python Syntax and Structure
- Comments and Documentation
- Data Types
  - Integers
  - Floats
  - Strings
  - Booleans
  - None
- Variables and Assignment

### Data Structures:
- Lists
   - Create:
       - Initializing a List
       - Appending Elements
       - Inserting Elements
       - List Comprehensions
   - Read:
       - Accessing Elements by Index
       - Slicing Lists
       - Iterating Over Lists
   - Update:
       - Modifying Elements by Index
       - Slicing and Assigning
   - Delete:
       - Removing Elements by Value
       - Removing Elements by Index
       - Clearing the Entire List

- Tuples
   - Create:
       - Initializing a Tuple
   - Read:
       - Accessing Elements by Index
       - Tuple Unpacking
   - Update:
       - Tuples are Immutable (No direct update, create a new tuple)
   - Delete:
       - Deleting Entire Tuple

- Dictionaries
   - Create:
       - Initializing a Dictionary
       - Adding Key-Value Pairs
   - Read:
       - Accessing Values by Key
       - Checking Key Existence
       - Iterating Over Keys or Values
   - Update:
       - Modifying Values by Key
       - Adding New Key-Value Pairs
   - Delete:
       - Removing Key-Value Pairs
       - Clearing the Entire Dictionary

- Sets
   - Create:
       - Initializing a Set
       - Adding Elements to a Set
   - Read:
       - Iterating Over Set Elements
       - Checking Set Membership
   - Update:
       - Adding Elements
       - Removing Elements
   - Delete:
       - Removing Elements by Value
       - Clearing the Entire Set

- Advanced Data Structures (Optional)
  - Stacks
  - Queues
  - Heaps
  - Trees
  - Graphs

### Control Flow:
- Conditional Statements (if, elif, else)
- Comparison Operators
- Logical Operators
- Truthiness and Falsiness
- Ternary Operator

### Loops and Iteration:
- for Loops
- while Loops
- Loop Control Statements (break, continue)
- Iterating Over Data Structures

### Functions:
- Defining Functions
- Function Parameters
- Return Statement
- Scope and Lifetime of Variables
- Lambda Functions
- Functional Programming
  - map(), filter(), reduce()
  - Partial Function Application
  - Function Composition
  - Immutable Data Structures

### Modules and Packages:
- Importing Modules
- Creating and Using Packages
- Standard Library Overview

### File Handling:
- Opening and Closing Files
- Reading from Files
- Writing to Files
- File Modes

### Exception Handling:
- try, except, finally Blocks
- Handling Different Types of Exceptions
- Raising Exceptions

### Object-Oriented Programming (OOP):
- Classes and Objects
- Attributes and Methods
- Inheritance
- Polymorphism
- Encapsulation

### Additional Topics:
- List Comprehensions
- Generators and Iterators
- Decorators
- Context Managers
- Virtual Environments
- Debugging Techniques
- Testing and Test-Driven Development (TDD)
- Regular Expressions
- Parallel and Concurrent Programming
- Memoization
- Recursion