this will be used as main python note-taking resource!!! (better than notion which can't run code)
to-dos:
- decide how to section it out
- decide on format for each section 
- reorganize everything and clean it up

# Basic Concepts:
- Python Syntax and Structure
- Comments and Documentation
- Data Types
  - Integers
  - Floats
  - Strings
  - Booleans
  - None
- Variables and Assignment

## Data Types

### Checking Data Type

In [3]:
# type(VALUE)
# check what type a value is
# returns data type

testing = '12353'

type(testing)

str

In [4]:
# isinstance(VALUE, DATATYPE)
# can check if a value is a data type
# returns boolean

test_string = 5

res = isinstance(test_string, str)
print(res)

res2 = isinstance(test_string, int)
print(res2)

False
True

## Variables and Assignment

### do NOT assign to methods

In [9]:
# things like: list, int, str, dict, sum
# this will effectively disable the methods

# won't actually demo it here

# Integers
are NOT iterable

In [18]:
# creating
# int()

whatever = '14234234'
int(whatever)

14234234

### binary

#### converting decimal to binary

In [3]:
# bin(INTEGER)

# returns binary STRING with 0b thing
# integer to string
# returns error for floats

print(bin(7))

# use indexing to pull out just the binary

print(bin(7)[2:])

0b111
111

In [4]:
# using FORMAT.format(VALUE)

# '{0:b}'.format(a + b)
a = 5
b = 2

'{0:b}'.format(a + b)

'111'

# Strings
are iterable.

1. Strings
   - Create:
     - Initializing a String
   - Read:
     - Accessing Characters by Index
     - Slicing Strings
     - Iterating Over Characters
   - Update:
     - Strings are Immutable (No direct update, create a new string)
   - Delete:
     - No direct deletion operation (strings are immutable)
     - Deleting Entire String (Variable Deletion)

## Creating

### Initializing a String

In [5]:
# f strings
# f'{VARIABLE} stringstringstring {VARIABLE}'
# can convert many things to strings, including booleans

example_bool = 1 == 0 
example_int = 3234234
example_string = 'blahblahblah'

new_string = f'{example_bool} and {example_int} and {example_string}'
new_string
# and then you can do string operations on this

'False and 3234234 and blahblahblah'

In [15]:
# convert to string
# str(b)

b = 14234234
str(b)

'14234234'

#### using .format() to create
<br>placeholder formatting types: https://www.w3schools.com/python/ref_string_format.asp

In [5]:
# .format()
# string.format(value1, value2...)
# The placeholders can be identified using named indexes {price}, numbered indexes {0}, or even empty placeholders {}.

txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
print(txt1)

txt2 = "My name is {0}, I'm {1}".format("John",36)
print(txt2)

txt3 = "My name is {}, I'm {}".format("John",36)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

## Reading

### Accessing Characters by Index

In [84]:
# indexing
a = "xyaabbbccccdefww"
a[1]

'y'

### Slicing Strings

### Iterating Over Characters

### Checking if it's a string

In [ ]:
#

## Updating

(Strings are immutable and cannot be updated. Must create new. String operations down below.)

## Deleting

No direct deletion operation (strings are immutable)

## String Operations
   - Concatenation:
     - Concatenating Strings
     - Using the `+` Operator
     - Using the `str.join()` Method
   - Searching and Finding:
     - Finding Substrings (e.g., `str.find()`, `str.index()`)
     - Counting Occurrences (e.g., `str.count()`)
     - Checking Substring Existence (e.g., `in` operator)
   - Formatting and Interpolation:
     - String Formatting (e.g., `%`, `str.format()`, f-strings)
     - String Interpolation (f-strings)
     - Template Strings (`string.Template`)
   - Splitting and Joining:
     - Splitting Strings (e.g., `str.split()`)
     - Joining Strings (e.g., `str.join()`)
     - Partitioning Strings (e.g., `str.partition()`)
   - Case Conversion:
     - Converting Case (e.g., `str.upper()`, `str.lower()`, `str.title()`)
     - Swapping Case (e.g., `str.swapcase()`)
   - Stripping and Cleaning:
     - Removing Whitespace (e.g., `str.strip()`, `str.lstrip()`, `str.rstrip()`)
     - Removing Specific Characters (e.g., `str.strip(chars)`)
     - Replacing Characters (e.g., `str.replace()`)
   - Other Operations:
     - Checking String Properties (e.g., `str.isalnum()`, `str.isalpha()`, `str.isdigit()`)
     - Formatting Strings (e.g., `str.center()`, `str.ljust()`, `str.rjust()`)
     - Encoding and Decoding (e.g., `str.encode()`, `str.decode()`)
     - String Length (e.g., `len(str)`)

### Concatenation

In [4]:
# concactenation 
a = "xyaabbbccccdefww"
b = "xxxxyyyyabklmopq"
a+b

'xyaabbbccccdefwwxxxxyyyyabklmopq'

In [5]:

# list -> string: 
# 'DELIMITER'.join()
# list to string

a = "xyaabbbccccdefww"
a_inorder = sorted(a) # this spits out a list
' '.join(a_inorder) # join that list together

'a a b b b c c c c d e f w w x y'

### Searching and Finding

#### .find()

In [11]:
# STRING.find('SUBSTRING')
# returns index position of first occurrence of that letter in the string
# returns -1 if not found

whatever = 'a;dlasfas;dfkla'
whatever.find('d')

2

#### .index()

In [12]:
# .index()
# STRING.index('SUBSTRING')
# returns index position of first occurrence of that letter in the string
# returns error if not found
# more commonly used with lists?

whatever = 'a;dlasfas;dfkla'
whatever.index('a;d')

0

#### .sub()

import re
<br>re.sub(pattern, repl, string, count=0, flags=0)

- pattern – the pattern which is to be searched and substituted
- repl – the string with which the pattern is to be replaced
- string – the name of the variable in which the pattern is stored
- count – number of characters up to which substitution will be performed
- flags – it is used to modify the meaning of the regex pattern

In [15]:
# re.sub('characters to be subbed', 'character to replace with', STRING)
# using regex

import re
sentence = "22 April is celebrated as Earth Day."

# replacing every lower case characters   
# in the variable sentence with 0 and  
# printing the modified string 
print(re.sub(r"[a-z]", "0", sentence))

22 A0000 00 0000000000 00 E0000 D00.

#### Counting occurences

In [55]:
# STRING.count()
# STRING.count(substring, start= …., end= ….)

my_string = "Apple"
char_count = my_string.count('A')
char_count

1

In [ ]:
strings = ["Red", "Green", "orange"]
char_to_count = 'e'

### Formatting and Interpolation
- String Formatting (e.g., %, str.format(), f-strings)
- String Interpolation (f-strings)
- Template Strings (string.Template)

In [14]:
# f strings
# f'{VARIABLE} stringstringstring {VARIABLE}'

abc = '3244234'

f'i have {abc} fish'

'i have 3244234 fish'

### Splitting and Joining

#### .split()

In [10]:
# STRING.split(SEPARATOR, MAXSPLIT)

# splits string into list
# clears delimiter
# whitespace is default separator
# string to list

In [9]:
# Splits at space
text = 'geeks for geeks'
print(text.split())

['geeks', 'for', 'geeks']

In [6]:
# Splits at ','
word = 'geeks, for, geeks'
print(word.split(','))

['geeks', ' for', ' geeks']

In [7]:
# Splitting at t
word = 'CatBatSatFatOr'
print(word.split('t'))

['Ca', 'Ba', 'Sa', 'Fa', 'Or']

In [8]:
# maxsplit: 1
word = 'geeks, for, geeks, pawan'
print(word.split(', ', 1))

['geeks', 'for, geeks, pawan']

In [11]:
# split at a character, return everything before or after with indexing:

url = "www.codewars.com#about"
url.split('#')[0] # everything before

'www.codewars.com'

#### list(STRING)

In [53]:
# split every letter
# list(text)
# string to list

text = 'geeks for geeks'
list(text)

['g', 'e', 'e', 'k', 's', ' ', 'f', 'o', 'r', ' ', 'g', 'e', 'e', 'k', 's']

#### .partition()

In [12]:
# STRING.partition(DELIMITER)
# splits everything and includes delimiter

url.partition('#')

('www.codewars.com', '#', 'about')

#### Joining a string

In [59]:
# .join()
# 'DELIMITER'.join()

# list to string
list1 = ['g', 'e', 'e', 'k', 's']
"".join(list1)

'geeks'

In [1]:
# sorted(ITERABLE)
# returns sorted list
# string to list

a = "xyaabbbccccdefww"
a_inorder = sorted(a) # this spits out a list. string to list
a_inorder

['a',
 'a',
 'b',
 'b',
 'b',
 'c',
 'c',
 'c',
 'c',
 'd',
 'e',
 'f',
 'w',
 'w',
 'x',
 'y']

In [62]:
# combine .join() and sorted() to alphabetize letters in a string

a = "xyaabbbccccdefww"
''.join(sorted(a))

'aabbbccccdefwwxy'

### Case Conversion

In [ ]:
# STRING.upper()

In [ ]:
# STRING.lower()

In [3]:
# STRING.capitalize()

whatever = 'aaashh:SLKDJFWE;ajsd;fakjsdD:D'
whatever.capitalize()

'Aaashh:slkdjfwe;ajsd;fakjsdd:d'

In [5]:
# STRING.title()

whatever = 'this is a book title'
whatever.title()

'This Is A Book Title'

In [1]:
# STRING.swapcase()

whatever = 'aaashh:SLKDJFWE;ajsd;fakjsdD:D'
whatever.swapcase()

'AAASHH:slkdjfwe;AJSD;FAKJSDd:d'

#### Checking lower case, upper case

In [11]:
# STRING.islower()

whatever = 'a'

whatever.islower()

True

In [12]:
# STRING.isupper()
# returns a boolean checking if entire string is upper or not

whatever = 'a'

whatever.isupper()

False

In [18]:
# use it in a loop to check each letter in a string

def convert_cases(string): 
    final_string = ''
    for letter in whatever:
        if letter.islower():
            final_string += letter.upper()
        elif letter.isupper():
            final_string += letter.lower()
    return final_string

whatever = ';LKSJs;kjLSKJ;skjd;LKS121'
convert_cases(whatever)

'lksjSKJlskjSKJDlks'

### Stripping and Cleaning
- Removing Whitespace (e.g., `str.strip()`, `str.lstrip()`, `str.rstrip()`)
- Removing Specific Characters (e.g., `str.strip(chars)`)
- Replacing Characters (e.g., `str.replace()`)

#### .strip()

In [ ]:
# STRING.strip([CHARS TO BE REMOVED])

### Other Operations

#### Reversing a string (with indexing)

In [7]:
hello = 'hello world'
hello[::-1]

'dlrow olleh'

In [27]:
# string -> list, sorted
# sorted(STRING)
# string to list

a = "xyaabbbccccdefww"
sorted(a)

['a',
 'a',
 'b',
 'b',
 'b',
 'c',
 'c',
 'c',
 'c',
 'd',
 'e',
 'f',
 'w',
 'w',
 'x',
 'y']

#### Translating characters `.translate()`

In [82]:
# .translate() is used with a mapping function .maketrans()
# similar to map()?

txt = "Hello Sam!"

mytable = str.maketrans("S", "P")

print(txt.translate(mytable))

# take notes: https://www.geeksforgeeks.org/python-string-translate/

Hello Pam!

'xyaabbbccccdefww'

#### formatting

In [24]:
# capitalize first letter of string: .capitalize()
a = "xyaa bbbccc cdefww"
a.capitalize()

'Xyaa bbbccc cdefww'

In [23]:
# capitalize every word: .title()
a = "xyaabbb ccccd efww"
a.title()

'Xyaabbb Ccccd Efww'

In [18]:
# lowercase everything: .lower()

whatever = 'A;SLKkajdsa;kjwa;KJ;K'
whatever.lower()

'a;slkkajdsa;kjwa;kj;k'

##### Checking String Properties (e.g., str.isalnum(), str.isalpha(), str.isdigit())

In [6]:
# .isdigit()
# str.isdigit()

example = '1928'
example.isdigit()

True

In [9]:
# .isalpha()
# str.isalpha()

example = 'aaaa'
example.isalpha()

False

In [12]:
# .isalnum()
# str.isalnum()

example = '11312asdfas'
print(example.isalnum())

example = ';;;;;'
print(example.isalnum())

True
False

#### sorting/alphabetizing

In [4]:
# sorted(STRING)
# good for sorting/alphabetizing a string.
# string to list
a = "xyaabbb ccccd efww"
sorted(a)

[' ',
 ' ',
 'a',
 'a',
 'b',
 'b',
 'b',
 'c',
 'c',
 'c',
 'c',
 'd',
 'e',
 'f',
 'w',
 'w',
 'x',
 'y']

In [9]:
# sorting. sort and join

a = "xyaabbbccccdefww"
a_new = ''.join(sorted(a))
a_new

'aabbbccccdefwwxy'

#### ord()

In [6]:
# returns the Unicode code from a given character
# useful when you need to assign a value to alphabet etc
# can only take one character strings

ord('a')

97

In [8]:
# this function will assign values for each letter of the alphabet, since a=97
# 1 for a, 2 for b, etc:
# ord('LETTER') - 96

ord('c') - 96

3

# Sets

In [13]:
# unique values in a string = SET

a = "xyaabbbccccdefww"
b = "xxxxyyyyabklmopq"
set(a)

{'a', 'b', 'c', 'd', 'e', 'f', 'w', 'x', 'y'}

In [20]:
# sorting (list???)
sorted(set(a))

['a', 'b', 'c', 'd', 'e', 'f', 'w', 'x', 'y']

In [25]:
# sort and join (back to string)
a_sorted_unique = ''.join(sorted(set(a)))
a_sorted_unique

'abcdefwxy'

In [27]:
def longest(a1, a2):
    # merge strings
    # return unique values, sorted
    return ''.join(sorted(set(a1+a2)))

'xyaabbbccccdefwwxxxxyyyyabklmopq'

# Lists

## Creating
   - Create:
       - Initializing a List
       - Appending Elements
       - Inserting Elements
       - List Comprehensions

In [ ]:
# typical way with []
whateverlist = [2, 4, '5343', 'heres a string']

In [2]:
# sorted(STRING)
# string to list, but sorted

example = 'abweacoiwaef'
sorted(example)

['a', 'a', 'a', 'b', 'c', 'e', 'e', 'f', 'i', 'o', 'w', 'w']

### *list()* can convert many things to a list

In [15]:
# string
example_string = 'awjefaipsdf' 
list(example_string)

['a', 'w', 'j', 'e', 'f', 'a', 'i', 'p', 's', 'd', 'f']

In [18]:
# tuple
example_tuple = (1, 2, 3)
list(example_tuple)

[1, 2, 3]

In [17]:
# range()
# range(start, stop, step)
# (range by itself returns an object)

list(range(5))

[0, 1, 2, 3, 4]

### Appending elements

In [19]:
# LIST.append(VALUE)
# add stuff to the end

thislist = ["apple", "banana", "cherry"]
thislist.append("orange") # updates the list
thislist

['apple', 'banana', 'cherry', 'orange']

In [16]:
# loop using LIST.append(VALUE)

import math

def square_root(numbers):
    result = []
    for number in numbers:
        result.append(math.sqrt(number))
    return result

numbers = [1, 4, 9, 16, 25, 36, 49, 64, 81]
square_root(numbers)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

In [34]:
# append lists into one list
# list into list

final_list = []
def square_root(numbers):
    for i in range(len(numbers)):
        result = []
        for j in range(i+1):
            result.append(j)
        final_list.append(result)
    return final_list

numbers = [1, 4, 9, 16, 25, 36, 49, 64, 81]
square_root(numbers)

[[0],
 [0, 1],
 [0, 1, 2],
 [0, 1, 2, 3],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4, 5],
 [0, 1, 2, 3, 4, 5, 6],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7, 8]]

### Inserting elements

In [21]:
# LIST.insert(INDEX, VALUE)
# inserting stuff

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange") # adds 'orange' at index 1
thislist

['apple', 'orange', 'banana', 'cherry']

### List Comprehensions
A Python list comprehension consists of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element in the Python list. 
<br>Return:The return value of a list comprehension is a new list containing the modified elements that satisfy the given criteria.
<br> https://www.geeksforgeeks.org/python-list-comprehension/

In [ ]:
# NEW_LIST = [ EXPRESSION(ELEMENT) for ELEMENT in OLD_LIST if CONDITION ]

In [10]:
# basic pattern creating a new list

x = ["Ryan", "Kieran", "Jason", "Yous"]

[friend for friend in x]

['Ryan', 'Kieran', 'Jason', 'Yous']

In [3]:
# simple

numbers = [12, 13, 14,] 
doubled = [x *2  for x in numbers] 
print(doubled)

[24, 26, 28]

In [7]:
# matrix

matrix = [[j for j in range(3)] for i in range(3)] 
matrix

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

#### with math

In [15]:
# print table of 10  
# for loop
numbers = [] 
for i in range(1, 6): 
    numbers.append(i*10) 
print(numbers)

[10, 20, 30, 40, 50]

In [16]:
# list comp
numbers = [i*10 for i in range(1, 6)]  
print(numbers)

[10, 20, 30, 40, 50]

In [ ]:
# using lambda to print table of 10 

numbers = list(map(lambda i: i*10, [i for i in range(1, 6)])) 
  
print(numbers)

#### comparing for loops vs list comp

In [10]:
# Traditional approach of iterating 
List = [] 
for character in 'Geeks 4 Geeks!': 
    List.append(character)
print(List)

['G', 'e', 'e', 'k', 's', ' ', '4', ' ', 'G', 'e', 'e', 'k', 's', '!']

In [11]:
# Using list comprehension to iterate through loop 
List = [character for character in 'Geeks 4 Geeks!'] 
print(List)

['G', 'e', 'e', 'k', 's', ' ', '4', ' ', 'G', 'e', 'e', 'k', 's', '!']

#### Nested list comprehensions

In [12]:
# matrix
# for loop way

matrix = [] 
  
for i in range(3): 
  
    # Append an empty sublist inside the list 
    matrix.append([]) 
  
    for j in range(5): 
        matrix[i].append(j) 
  
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [13]:
# Nested list comprehension 
matrix = [[j for j in range(5)] for i in range(3)] 
  
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [ ]:
# playing with enumerate and zip

In [19]:
names = ['Mukesh', 'Roni', 'Chari']
ages = [24, 50, 18]

In [48]:
list(enumerate(names, start=1))

[(1, 'Mukesh'), (2, 'Roni'), (3, 'Chari')]

In [46]:
dict(enumerate(names[0]))

{0: 'M', 1: 'u', 2: 'k', 3: 'e', 4: 's', 5: 'h'}

In [45]:
dict(enumerate(names))

{0: 'Mukesh', 1: 'Roni', 2: 'Chari'}

In [29]:
zip(names, ages)

In [28]:
list(enumerate(zip(names, ages)))

[(0, ('Mukesh', 24)), (1, ('Roni', 50)), (2, ('Chari', 18))]

In [25]:
for i, (name, age) in enumerate(zip(names, ages)):
    print(i, name, age)

0 Mukesh 24
1 Roni 50
2 Chari 18

### itertools.combinations()

In [2]:
# combinations(ITERATOR, R)

from itertools import combinations

 
letters ="GeEKS"
 
# size of combination is set to 3
a = combinations(letters, 3) 
y = [' '.join(i) for i in a]

print(a) # itertools object
print(y)

[]
['G e E', 'G e K', 'G e S', 'G E K', 'G E S', 'G K S', 'e E K', 'e E S', 'e K S', 'E K S']

## Read
   - Read:
       - Accessing Elements by Index
       - Slicing Lists
       - Iterating Over Lists

### Accessing Elements by Index
`my_list[start:end:step]`  # start is inclusive, end is exclusive

### Slicing Lists

In [49]:
my_list = ['aaa', 'bbb', 'ccc', 'ddd']
my_list[1:]

['bbb', 'ccc', 'ddd']

In [50]:
# end before last one
my_list[:-1]

['aaa', 'bbb', 'ccc']

In [51]:
# start at second to last one 
my_list[-2:]

['ccc', 'ddd']

In [52]:
# step size: return every second element

my_list = ['aaa', 'bbb', 'ccc', 'ddd']
with_steps = my_list[1::2]
with_steps

['bbb', 'ddd']

### Iterating Over Lists

#### min()
 find minimum value in an iterable
 
 min(a, b, c, …, key=func)

In [2]:
numbers = [23,25,65,21,98]
print(min(numbers))

21

In [9]:
languages = ["Python", "C Programming", "Java", "JavaScript",'PHP','Kotlin']
small = min(languages)
print("The smallest string is:", small)
# prints out lowest valued character in ascii. not sure how useful this is

The smallest string is: C Programming

#### max()
find max value in iterable

In [1]:
numbers = [23,25,65,21,98]
print(max(numbers))

98

### Compare items in a list to each other

In [2]:
# find minimum value by comparing values to each other

def find_minimum(arr):    
    tracker = arr[0] # set up a tracker variable, set for first item in list
    for number in arr:
        if number < tracker:
            tracker = number
        else: 
            tracker = tracker
    return tracker

find_minimum([4,6,2,1,9,63,-134,566])

-134

In [ ]:
# the way to do it with nested for loops
# the nested range(len(LIST)) thing i keep thinking about
# this one will grab an index i, and then all the values up to and including that index i

# for i in range(len(mylist)):
#     for j in range(i+1):
        # some function for mylist[i] and mylist[j]

In [ ]:
mylist = [4,6,2,1,9,63,-134,566]

In [37]:
for i in range(len(mylist)): # iterate over index
    for j in range(i+1): # iterate over each value up to that index
        print(i, mylist[j])
        
# i = index numbers
# j = all the indexes up to that index
# mylist[j] = all the values up to that index


# you need the +1 because it's acting on range, and range(0) doesn't return anything

0 0
1 0
1 1
2 0
2 1
2 2
3 0
3 1
3 2
3 3
4 0
4 1
4 2
4 3
4 4
5 0
5 1
5 2
5 3
5 4
5 5
6 0
6 1
6 2
6 3
6 4
6 5
6 6
7 0
7 1
7 2
7 3
7 4
7 5
7 6
7 7

In [38]:
# create lists for each j

for i in range(len(mylist)):
    allnumbers = []
    for j in range(i+1): 
        allnumbers.append(mylist[j])
        print(allnumbers)

[4]
[4]
[4, 6]
[4]
[4, 6]
[4, 6, 2]
[4]
[4, 6]
[4, 6, 2]
[4, 6, 2, 1]
[4]
[4, 6]
[4, 6, 2]
[4, 6, 2, 1]
[4, 6, 2, 1, 9]
[4]
[4, 6]
[4, 6, 2]
[4, 6, 2, 1]
[4, 6, 2, 1, 9]
[4, 6, 2, 1, 9, 63]
[4]
[4, 6]
[4, 6, 2]
[4, 6, 2, 1]
[4, 6, 2, 1, 9]
[4, 6, 2, 1, 9, 63]
[4, 6, 2, 1, 9, 63, -134]
[4]
[4, 6]
[4, 6, 2]
[4, 6, 2, 1]
[4, 6, 2, 1, 9]
[4, 6, 2, 1, 9, 63]
[4, 6, 2, 1, 9, 63, -134]
[4, 6, 2, 1, 9, 63, -134, 566]

In [4]:
# function to output all combinations
for i in range(len(mylist)):
    for j in range(i + 1, len(mylist)):
        print(mylist[i], mylist[j])

4 6
4 2
4 1
4 9
4 63
4 -134
4 566
6 2
6 1
6 9
6 63
6 -134
6 566
2 1
2 9
2 63
2 -134
2 566
1 9
1 63
1 -134
1 566
9 63
9 -134
9 566
63 -134
63 566
-134 566

### Others

In [2]:
# counting elements in a list: 
# LIST.count(OBJECT)

numbers = [40, 45, 34, 12, -34, -5, 47, -28, -43, -25, -35, -43, 50, -15, -43, -47, 37, -42, 47, -1, 50, 9, -22, 50,
 -44, 22, -8, -10, -47, -34, 27, -29, 37, -49, -33, -35, -45, 6, 48, 48, 30, 1, -28, -12, 34, 1, 25, -43, -4,
 24, 44, 29, -9, 19, -40, 46, -20, 36, 48, 13, 26, 12, -14, -25, -36, 1, -20, -33, 10, 15, 18, 11, 27, 39, 14,
 23, -17, 33, -25, 9, 1, 16, -20, 38, 17, 14, -31, -14, -43, -34, 32, 32, 8, 5, -39, 23, 24, -43, -33, -30]

numbers.count(1)

4

In [15]:
# .index()
# LIST.index(VALUE)
# returns index of first occurrence of value

numbers = [40, 45, 34, 12, -34, -5, 47, -28, -43, -25, -35, -43, 50, -15, -43, -47, 37, -42, 47, -1, 50, 9, -22, 50,
 -44, 22, -8, -10, -47, -34, 27, -29, 37, -49, -33, -35, -45, 6, 48, 48, 30, 1, -28, -12, 34, 1, 25, -43, -4,
 24, 44, 29, -9, 19, -40, 46, -20, 36, 48, 13, 26, 12, -14, -25, -36, 1, -20, -33, 10, 15, 18, 11, 27, 39, 14,
 23, -17, 33, -25, 9, 1, 16, -20, 38, 17, 14, -31, -14, -43, -34, 32, 32, 8, 5, -39, 23, 24, -43, -33, -30]

numbers.index(45)

1

## Update
   - Update:
       - Modifying Elements by Index
       - Slicing and Assigning
       
remember that list methods will run the method on the list and save it (most of the time) but won't print it out

### Modifying Elements by Index
`my_list[start:end:step]`  # start is inclusive, end is exclusive

['bbb', 'ccc', 'ddd']

['aaa', 'bbb', 'ccc']

['ccc', 'ddd']

['bbb', 'ddd']

### Slicing and Assigning

['apple', 'banana', 'cherry', 'orange']

In [37]:
# reverse a list
# LIST.reverse() 

thislist = ["apple", "banana", "cherry"]
thislist.reverse() # updates the list
thislist

['cherry', 'banana', 'apple']

In [42]:
# reverse by index

thislist = ["apple", "banana", "cherry"]
thislist[::-1]

['cherry', 'banana', 'apple']

### Extending and appending

In [4]:
# LIST.extend(ITERABLE)
# join a list into another list

my_list = ['geeks', 'for']
another_list = [6, 0, 4, 1]
my_list.extend(another_list)
my_list

['geeks', 'for', 6, 0, 4, 1]

In [6]:
# LIST.append(ITEM)
# add a list into another list
# list into list

my_list = ['geeks', 'for', 'geeks']
another_list = [6, 0, 4, 1]
my_list.append(another_list)
my_list

['geeks', 'for', 'geeks', [6, 0, 4, 1]]

In [ ]:
# .join() is only for strings (can turn a list to a string tho)

### Inserting elements

In [ ]:
# LIST.insert(INDEX, VALUE)
# inserting stuff

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange") # adds 'orange' at index 1
thislist

In [44]:
# another way of adding stuff
# [] and + operator

test_list = [1, 3, 4, 5, 7]
[6, 8] + test_list

[6, 8, 1, 3, 4, 5, 7]

In [43]:
# using slicing to append at beginning. append 6

test_list = [1, 3, 4, 5, 7]
 
test_list[:0] = [6, 123, 1423]
test_list

[6, 123, 1423, 1, 3, 4, 5, 7]

### Reversing

In [10]:
# with index

test_list = [1, 3, 4, 5, 7]
test_list[::-1]

[7, 5, 4, 3, 1]

In [12]:
# with reversed() function

test_list = [1, 3, 4, 5, 7]
list(reversed(test_list))

[7, 5, 4, 3, 1]

## Delete
- Removing Elements by Value
- Removing Elements by Index
- Clearing the Entire List

### Removing Elements by Value

In [16]:
# .remove()
# LIST.remove(VALUE)
# only remove the first item in the list. not that great

thislist = ["apple", "banana", "cherry"]
thislist.remove('apple')
thislist

['banana', 'cherry']

### Removing Elements by Index

#### del

In [65]:
# del 

l = [0, 10, 20, 30, 40, 50]

del l[0]
print(l)

[10, 20, 30, 40, 50]

In [66]:
l = [0, 10, 20, 30, 40, 50]

del l[3]
print(l)

[0, 10, 20, 40, 50]

In [68]:
l = [0, 10, 20, 30, 40, 50]

del l[-1]
print(l)

[0, 10, 20, 30, 40]

In [64]:
l = [0, 10, 20, 30, 40, 50]
del l[-2]
print(l)

[0, 10, 20, 30, 50]

#### .pop()

In [70]:
# .pop()
# updates the list as well?

l = [0, 10, 20, 30, 40, 50]

popped_item = l.pop(0)
print(popped_item)
print(l)

0
[10, 20, 30, 40, 50]

In [71]:
l = [0, 10, 20, 30, 40, 50]

popped_item = l.pop(3)
print(popped_item)
print(l)

30
[0, 10, 20, 40, 50]

In [72]:
popped_item = l.pop(-2)
print(popped_item)
print(l)

40
[0, 10, 20, 50]

In [74]:
# not specifying an index -> last index is popped
l = [0, 10, 20, 30, 40, 50]
popped_item = l.pop()
print(popped_item)

50

### Clearing the Entire List

#### clear()

In [75]:
l = [0, 1, 2]

l.clear()
print(l)

[]

In [ ]:
# conditions

'''find next square root'''

import math

def find_next_square(sq):
    # Return the next square if sq is a square, -1 otherwise
    square_root = math.sqrt(sq)
    # if square root is an integer
    if square_root % 1 == 0:
        return (square_root + 1) ** 2
    # if argument is not a perf sq, return, -1, None, or null
    else:
        return -1

remove the geese from birds list

In [16]:
# comparing lists and filtering

geese = ["African", "Roman Tufted", "Toulouse", "Pilgrim", "Steinbacher"]
birds =  ["Mallard", "Hook Bill", "African", "Crested", "Pilgrim", "Toulouse", "Blue Swedish"]

# remove the geese from birds list

# old school loop
def goose_filter(birds):
    final = []
    for bird in birds:
        if bird not in geese:
            final.append(bird)
    return final

In [17]:
# LIST COMP
def goose_filter(birds):
    return [bird for bird in birds if bird not in geese]

goose_filter(birds)

['Mallard', 'Hook Bill', 'Crested', 'Blue Swedish']

label index of each list item:

In [62]:
# for i in range(len(arr)):
# then compare arr[i] to arr[i+1] or whatever

# not sure if we can do this tho

In [ ]:
# list comprehension
''' invert positives to negatives, negatives to positives'''
def invert(lst):
    return [-x for x in lst]

# Dictionaries

`person = {"name": "Alice", "age": 30, "city": "London"}`

## Creating
   - Create:
       - Initializing a Dictionary
       - Adding Key-Value Pairs

### Initializing a Dictionary

In [24]:
# using zip() and dict comprehensions. omg
# zip(ITERABLE)
# returns a single iterator object (need to output using list() or set() etc)

stocks = ['GEEKS', 'For', 'geeks']
prices = [2175, 1127, 2750]
 
new_dict = {stocks: prices for stocks,prices in zip(stocks, prices)} # this code won't run as a list comp
new_dict

{'GEEKS': 2175, 'For': 1127, 'geeks': 2750}

In [19]:
# zip()
# take 2 lists and zip them into a dict
# uhh much easier way to do it than above:

dict(zip(stocks, prices))

{'GEEKS': 2175, 'For': 1127, 'geeks': 2750}

### Adding Key-Value Pairs

In [14]:
# Adding a new key-value pair
person = {"name": "Alice", "age": 30, "city": "London"}

person["occupation"] = "Programmer"  
person

'Alice'

In [6]:
# indexing
'''return the answer for how many petals'''

def how_much_i_love_you(nb_petals):
    return ["I love you", "a little", "a lot", "passionately", "madly", "not at all"][nb_petals % 6 - 1]

## Reading
   - Read:
       - Accessing Values by Key
       - Checking Key Existence
       - Iterating Over Keys or Values

### Basics

In [ ]:
# list of all keys
# DICT.keys()

person = {"name": "Alice", "age": 30, "city": "London"}
person.keys()

In [13]:
# list of all values
# DICT.values()

person = {"name": "Alice", "age": 30, "city": "London"}
person.values()

dict_values(['Alice', 30, 'London'])

In [2]:
# list of all key-value pairs as tuple
# DICT.items()

person = {"name": "Alice", "age": 30, "city": "London"}
person.items()

dict_items([('name', 'Alice'), ('age', 30), ('city', 'London')])

In [8]:
# get value for specific key, return null is key doesn't exist
# DICT.get(KEY, NULLVALUE) 
# nullvalue is default=None

person = {"name": "Alice", "age": 30, "city": "London"}
print(person.get('name'))
print(person.get('waaa', 'not there dumbass'))

Alice
not there dumbass

### Accessing Values by Key

dict_keys

In [17]:
# calling a value using a key
# DICT['KEY']

person = {"name": "Alice", "age": 30, "city": "London"}
person['name']

'Alice'

In [ ]:
DICT.keys() #=> LIST of all keys
DICT.values() #=> LIST of all values
DICT.items() #=> LIST of all pairs as TUPLES


len(DICT) #=> NUMBER of key-value pairs

DICT[KEY] #=> VALUE
DF['KEY1']['KEY2'] # nested. get key2 values inside key1?
DICT[
DICT.get(KEY, NULLVALUE) #=> VALUE, or NULLVALUE if not there

### Iterating Over Keys or Values

In [38]:
people = {
    "Alice": {"age": 30, "city": "London"},
    "Bob": {"age": 25, "city": "New York"},
    "Charlie": {"age": 42, "city": "Paris"},
}

In [39]:
# Iterating over Keys:
print("Iterating over dictionary keys:")
for name in people:
    print(name)

Iterating over dictionary keys:
Alice
Bob
Charlie

In [41]:
# Iterating over Key-Value Pairs:

print("\nIterating over dictionary key-value pairs:")
for name, info in people.items():
    print(f"Name: {name}")
    print(f"Age: {info['age']}")   # Accessing age within 'info'
    print(f"City: {info['city']}\n") # Accessing city within 'info'
    
# DICT.items() pulls out the key-value pairs as tuples: (key, value)
# therefore, passing two variables (name, info) on the loop will assign to (key, value)

Iterating over dictionary key-value pairs:
Name: Alice
Age: 30
City: London

Name: Bob
Age: 25
City: New York

Name: Charlie
Age: 42
City: Paris

## Updating
   - Update:
       - Modifying Values by Key
       - Adding New Key-Value Pairs

## Deleting
   - Delete:
       - Removing Key-Value Pairs
       - Clearing the Entire Dictionary

# Control Flow

- Conditional Statements (if, elif, else)
- Comparison Operators
- Logical Operators
- Truthiness and Falsiness
- Ternary Operator

## Conditional Statements (if, elif, else)

## Comparison Operators

## Logical Operators

## Truthiness and Falsiness

## Ternary Operator
the thing with the return statement containing if else statements

In [5]:
# return OUTPUT1 if CONDITION1 else OUTPUT2 if CONDITION2 else OUTPUT3

# number of hotdogs	price per unit (cents)
# n < 5	100
# n >= 5 and n < 10	95
# n >= 10	90

# # usual way
# def sale_hotdogs(n):
#     if n < 5:
#         return n * 100
#     if 5 <= n < 10:
#         return n * 95
#     else: 
#         return n * 90

# ternary
def sale_hotdogs(n):
    return n*100 if n < 5 else n*95 if 5 <= n < 10 else n*90 

sale_hotdogs(5)

475

# Loops and Iteration

1. Loops
   - for Loops:
     - Iterating Over Elements
     - Iterating Over Range of Numbers
     - Iterating Over Iterable Objects
     - Nested for Loops
   - while Loops:
     - Looping Until a Condition is Met
     - Infinite Loops
     - Exiting the Loop with `break` and `continue`
   - Loop Control Statements:
     - `break`: Exiting a Loop Prematurely
     - `continue`: Skipping Current Iteration
     - `pass`: Placeholder for Empty Loops
   - Iterating Over Data Structures:
     - Iterating Over Lists
     - Iterating Over Tuples
     - Iterating Over Dictionaries
     - Iterating Over Sets
   - Loop Patterns and Techniques:
     - Looping with Index and Value (enumerate)
     - Looping with Index Only (range)
     - Looping Backwards (reversed)
     - Looping with Condition (list comprehension)
     - Looping with Accumulator Pattern

## for loops

`for ITEM in SEQUENCE: 
    CODE-FOR-EACH-ITEM`

In [1]:
fruits = ["apple", "banana", "orange"]
for fruit in fruits:
    print("I like to eat", fruit) # Printing for each elements in the list

I like to eat apple
I like to eat banana
I like to eat orange

### 'DUH' stuff

#### Iterables (what can be looped)

In [2]:
# dictionaries, lists, sets, tuples, string
# NOT integers

In [4]:
random_dictionary = {
    "Alice": {"age": 30, "city": "London"},
    "Bob": {"age": 25, "city": "New York"},
    "Charlie": {"age": 42, "city": "Paris"},
}

for item in random_dictionary:
    print(item)

Alice
Bob
Charlie

In [5]:
random_list = [40, 45, 34, 12, -34]

for item in random_list:
    print(item)

40
45
34
12
-34

In [7]:
random_string = 'aaaweaf'
for item in random_string:
    print(item)

a
a
a
w
e
a
f

In [8]:
random_integer = 14345423452345

for item in random_integer:
    print(item)

TypeError: 'int' object is not iterable

####  Initializing empty integer (for calculations)

In [1]:
numbers = [40, 45, 34, 12, -34, -5, 47, -28, -43, -25, -35, -43, 50, -15, -43, -47, 37, -42, 47, -1, 50, 9, -22, 50,
 -44, 22, -8, -10, -47, -34, 27, -29, 37, -49, -33, -35, -45, 6, 48, 48, 30, 1, -28, -12, 34, 1, 25, -43, -4,
 24, 44, 29, -9, 19, -40, 46, -20, 36, 48, 13, 26, 12, -14, -25, -36, 1, -20, -33, 10, 15, 18, 11, 27, 39, 14,
 23, -17, 33, -25, 9, 1, 16, -20, 38, 17, 14, -31, -14, -43, -34, 32, 32, 8, 5, -39, 23, 24, -43, -33, -30]

sum(numbers) # correct total

77

In [3]:
# initialize OUTSIDE the for loop
# 'total' gets updated each iteration
# correct way

total = 0
for number in numbers:
    total += number
print(total)

77

In [4]:
# initialize INSIDE the for loop 
# 'total' reset to zero each iteration
# final print statement ends up showing only last number

for number in numbers:
    total = 0
    total += number
print(total)

-30

#### re-assigning to original variable vs new variable is giving a different output??

In [78]:
# re-assigning to original gives the output we want

string = 'hello'
vowels = ['a', 'e', 'i', 'o', 'u']

for vowel in vowels:
    string = string.replace(vowel, '')
    print(string, vowel)
    
string

hello a
hllo e
hllo i
hll o
hll u

'hll'

In [79]:
# re-assigning to new variable gives something else
# for each iteration: it's creating the new variable from scratch
# final output ends up being the output for the last iteration ('u' in this case)

string = 'hello'
vowels = ['a', 'e', 'i', 'o', 'u']

for vowel in vowels:
    new_string = string.replace(vowel, '')
    print(new_string, vowel)

new_string

hello a
hllo e
hello i
hell o
hello u

'hello'

#### location of print() statement changes things

In [80]:
string = 'hello'
vowels = ['a', 'e', 'i', 'o', 'u']

for vowel in vowels:
    string = string.replace(vowel, '')
    print(string, vowel)

hello a
hllo e
hllo i
hll o
hll u

In [81]:
string = 'hello'
vowels = ['a', 'e', 'i', 'o', 'u']

for vowel in vowels:
    print(string, vowel)
    string = string.replace(vowel, '')

hello a
hello e
hllo i
hllo o
hll u

In [ ]:
# count vowels in a string

def get_count(sentence):
    vowels = 'aeiou'
    count = 0
    for letter in sentence:
        if letter in vowels:
            count += 1 
    return count

   - while Loops:
     - Looping Until a Condition is Met
     - Infinite Loops
     - Exiting the Loop with `break` and `continue`

   - Loop Control Statements:
     - `break`: Exiting a Loop Prematurely
     - `continue`: Skipping Current Iteration
     - `pass`: Placeholder for Empty Loops

   - Iterating Over Data Structures:
     - Iterating Over Lists
     - Iterating Over Tuples
     - Iterating Over Dictionaries
     - Iterating Over Sets

## Loop Patterns and Techniques:
 - Looping with Index and Value (enumerate)
 - Looping with Index Only (range)
 - Looping Backwards (reversed)
 - Looping with Condition (list comprehension)
 - Looping with Accumulator Pattern

### Looping with Index and Value (enumerate)

### Looping with Index Only (range)

In [1]:
# range()
# range(start, stop, step)

range(1, 20, 5)

range(1, 20, 5)

#### # range(len(sequence))

In [2]:
# range(len(sequence))
# this pattern is super useful: access both elements and their indices

numbers = [10, 20, 30, 40, 50]
for i in range(len(numbers)):
    print(f"Index: {i}, Value: {numbers[i]}")

Index: 0, Value: 10
Index: 1, Value: 20
Index: 2, Value: 30
Index: 3, Value: 40
Index: 4, Value: 50

##### examples

In [ ]:
# access even-indexed elements, and apply function

numbers = [1, 2, 3, 4, 5]
for i in range(len(numbers)):
    if i % 2 == 0:
        numbers[i] *= 2  # Double the even-indexed elements
print(numbers)  # Output: [2, 2, 6, 4, 10]

### Looping Backwards (reversed)

### Looping with Condition (list comprehension)

##### finding numbers in a list that fit a condition

In [ ]:
# example: finding numbers that divide a certain number n without remainders

def divisors(n):
    return  len([l_div for l_div in range(1, n + 1) if n % l_div == 0]);

In [ ]:
# make a list for each l_div in range(1, n+1)
[l_div for l_div in range(1, n+1)]

In [ ]:
# make that list only for numbers that meet the condition (divides n without remainders)
[l_div for l_div in range(1, n + 1) if n % l_div == 0]

### Looping with Accumulator Pattern

1. Initialization: Start with an initial value for the accumulator variable (e.g., a number, list, string, etc.).
2. Iteration: Use a loop to iterate over a collection of data.
3. Accumulation: Modify the accumulator variable within the loop based on the current item in the iteration.
4. Final Result: After the loop completes, the accumulator variable contains the final accumulated

In [39]:
# summing numbers

numbers = [1, 2, 3, 4, 5]
total_sum = 0  # Initialization

for number in numbers:  # Iteration
    total_sum += number  # Accumulation

print("Total Sum:", total_sum)  # Final Result

Total Sum: 15

In [40]:
# collecting items in a list

numbers = [1, 2, 3, 4, 5]
squares = []  # Initialization

for number in numbers:  # Iteration
    squares.append(number ** 2)  # Accumulation

print("Squares:", squares)  # Final Result

Squares: [1, 4, 9, 16, 25]

In [ ]:
# building a string

words = ["Hello", "world", "this", "is", "Python"]
sentence = ""  # Initialization

for word in words:  # Iteration
    sentence += word + " "  # Accumulation

sentence = sentence.strip()  # Remove the trailing space
print("Sentence:", sentence)  # Final Result

In [41]:
# counting occurrences in a list

items = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
count_apples = 0  # Initialization

for item in items:  # Iteration
    if item == 'apple':
        count_apples += 1  # Accumulation

print("Number of apples:", count_apples)  # Final Result

Number of apples: 3

In [43]:
# nested loop
# cumulative sums

mylist = [1, 2, 3, 4]
cumulative_sums = []  # Initialization (outer accumulator)

for i in range(len(mylist)):  # Outer Loop
    sum_value = 0  # Initialization (inner accumulator)
    for j in range(i + 1):  # Inner Loop
        sum_value += mylist[j]  # Accumulation (inner): for each individual sum
    print(sum_value) 
    cumulative_sums.append(sum_value)  # Accumulation (outer): gathers all the sums into a list

print("Cumulative Sums:", cumulative_sums)  # Final Result

1
3
6
10
Cumulative Sums: [1, 3, 6, 10]

# Functions

## Defining Functions

## Function Parameters

## Return Statement

## Scope and Lifetime of Variables

## Lambda Functions

## Functional Programming

Functional Programming
- Introduction to Functional Programming:
  - Overview of Functional Programming Paradigms
  - Benefits of Functional Programming

- First-Class Functions:
  - Functions as Objects
  - Passing Functions as Arguments
  - Returning Functions from Functions

- Higher-Order Functions:
  - Definition and Examples
  - Using Functions like `map()`, `filter()`, and `reduce()`

- Pure Functions:
  - Definition and Characteristics
  - Examples of Pure Functions
  - Benefits of Using Pure Functions

- Anonymous Functions (Lambdas):
  - Creating Lambda Functions
  - Using Lambda Functions with Higher-Order Functions

- Functional Programming Tools:
  - `map()`: Applying a Function to All Elements in an Iterable
    - Applying a Function to Elements of an Iterable
    - Syntax and Usage
    - Examples with Lists, Tuples, Sets, and Dictionaries
    - Mapping Functions with Multiple Iterables (zip)
    - Lambda Functions and map()
  - `filter()`: Filtering Elements Based on a Function
  - `reduce()`: Reducing an Iterable to a Single Value
  - `functools.partial()`: Creating Partial Functions

- Immutability:
  - Importance of Immutability in Functional Programming
  - Techniques for Achieving Immutability

- Recursion:
  - Definition and Examples
  - Recursive vs. Iterative Solutions
  - Tail Recursion

- Comprehensions:
  - List Comprehensions
  - Dictionary Comprehensions
  - Set Comprehensions

- Generator Expressions:
  - Creating Generators
  - Differences Between Generators and Comprehensions
  - Use Cases for Generators

- Functional Libraries:
  - Overview of Functional Libraries (e.g., `functools`, `itertools`)
  - Key Functions and Their Uses

- Decorators:
  - Understanding Decorators
  - Creating and Using Decorators
  - Built-in Decorators (`@staticmethod`, `@classmethod`, `@property`)

- Closures:
  - Definition and Examples
  - Use Cases for Closures
  - Implementing Closures in Python

- Currying:
  - Definition and Examples
  - Use Cases for Currying
  - Implementing Currying in Python

- Lazy Evaluation:
  - Definition and Examples
  - Benefits of Lazy Evaluation
  - Implementing Lazy Evaluation in Python

- Functional Error Handling:
  - Handling Errors Functionally
  - Using Monads for Error Handling (e.g., `Maybe`, `Either`)

- Functional Data Structures:
  - Overview of Immutable Data Structures
  - Using Immutable Data Structures in Python (e.g., `tuple`, `frozenset`)

- Functional Reactive Programming (FRP):
  - Introduction to FRP
  - Basic Concepts and Terminology
  - Implementing FRP in Python

- Performance Considerations:
  - Performance Implications of Functional Programming
  - Techniques for Optimizing Functional Code

#### Map Function

In [36]:
# Map function: can be used on various iterables (lists, sets, dictionary values, etc)
# applies given function to each item of an iterable

# map(FUNCTION, ITERABLE)

arr = ['23423', '234234', '51323']
new_arr = map(int, arr) # this returns a map object, which is NOT a list. it's an iterator.
list(new_arr) # need to convert the map object back to a list

[23423, 234234, 51323]

In [3]:
# examples
dna = 'AGTCCATCAGTGTATACCCC'
rna = {'A':'T', 'C':'G', 'G':'C', 'T':'A'}
''.join(list(map(rna.get, dna)))

'TCAGGTAGTCACATATGGGG'

In [6]:
# doing same with list comp
''.join([rna[i] for i in dna])

'TCAGGTAGTCACATATGGGG'

### return Statements

In [11]:
# for loops: beware of the return statement location!!
# having return statement INSIDE the loop only returns the first iteration

def encrypt(text, n):     
    for number in range(n):
        if text == '' or n < 0:
            return text
        else:
            text = text[1::2] + text[0::2]
            return text
        
print(encrypt("This is a test!", 0))
print(encrypt("This is a test!", 1))
print(encrypt("This is a test!", 2))
print(encrypt("This is a test!", 7))

None
hsi  etTi sats!
hsi  etTi sats!
hsi  etTi sats!

In [12]:
# having return statement INSIDE the loop only returns the first iteration
# another example where it's outside the else statement, but still inside the for loop

def encrypt(text, n):     
    for number in range(n):
        if text == '' or n < 0:
            return text
        else:
            text = text[1::2] + text[0::2]
        return text
    
print(encrypt("This is a test!", 0))
print(encrypt("This is a test!", 1))
print(encrypt("This is a test!", 2))
print(encrypt("This is a test!", 7))

None
hsi  etTi sats!
hsi  etTi sats!
hsi  etTi sats!

In [13]:
# this one is OUTSIDE the for loop and will do what you want it to
# (btw this function itself isn't optimized and it's better to just move the for loop inside the else statement)

def encrypt(text, n):     
    for number in range(n):
        if text == '' or n < 0:
            return text
        else:
            text = text[1::2] + text[0::2]
    return text
    
print(encrypt("This is a test!", 0))
print(encrypt("This is a test!", 1))
print(encrypt("This is a test!", 2))
print(encrypt("This is a test!", 7))

This is a test!
hsi  etTi sats!
s eT ashi tist!
 Tah itse sits!

In [ ]:
# taking user input
# input('TEXT TO BE DISPLAYED')

In [ ]:
# lambda is an an anonymous function

# take notes: https://www.geeksforgeeks.org/python-lambda-anonymous-functions-filter-map-reduce/

# Modules and Packages:
- Importing Modules
- Creating and Using Packages
- Standard Library Overview

## Importing Modules

In [1]:
# import entire model

import math
print(math.sqrt(16))  # Output: 4.0

4.0

In [2]:
# import specific functions or variables

from math import sqrt, pi
print(sqrt(16))  # Output: 4.0
print(pi)        # Output: 3.141592653589793

4.0
3.141592653589793

In [ ]:
# import with alias
# import MODULE as NAME

import numpy as np
print(np.array([1, 2, 3]))

In [ ]:
# import everything from a module

from math import *
print(sqrt(16))  # Output: 4.0
print(pi)        # Output: 3.141592653589793

## Creating and Using Packages

### Package
- a package is a directory that contains a special file like `__init__.py `

#### Creating a package

##### 1. Create a directory
- mypackage is the directory
- module1, module2 are the modules

In [10]:
'''
mypackage/
    __init__.py
    module1.py
    module2.py
'''

'\nmypackage/\n    __init__.py\n    module1.py\n    module2.py\n'

##### 2. Add code to your modules

In [11]:
'''module1.py
def func1():
    print("Function 1")

module2.py
def func2():
    print("Function 2")
'''

'module1.py\ndef func1():\n    print("Function 1")\n\nmodule2.py\ndef func2():\n    print("Function 2")\n'

##### 3. Use package in your code

In [13]:
# Importing the package
'''
from mypackage import module1, module2

module1.func1()  # Output: Function 1
module2.func2()  # Output: Function 2
'''

'\nfrom mypackage import module1, module2\n\nmodule1.func1()  # Output: Function 1\nmodule2.func2()  # Output: Function 2\n'

##### - `__init__.py `
    - initializes the package
    - can also include code you want to run when package is imported

##### within `__init__.py`

In [14]:
'''
from .module1 import func1
from .module2 import func2

from mypackage import func1, func2

func1()  # Output: Function 1
func2()  # Output: Function 2
'''

'\nfrom .module1 import func1\nfrom .module2 import func2\n\nfrom mypackage import func1, func2\n\nfunc1()  # Output: Function 1\nfunc2()  # Output: Function 2\n'

## Standard Library Overview
- the libraries that come standard with python. examples:

In [15]:
import sys
print(sys.version)

3.10.6 (main, Oct  1 2023, 13:22:11) [GCC 11.4.0]

In [ ]:
import os
print(os.getcwd())

In [ ]:
import datetime
print(datetime.datetime.now())

In [ ]:
import json
data = {"name": "Alice", "age": 30}
json_string = json.dumps(data)
print(json_string)

In [ ]:
import re
pattern = re.compile(r'\b\w+\b')
print(pattern.findall("Hello, World!"))

In [ ]:
import random
print(random.randint(1, 10))

# File Handling:
- Opening and Closing Files
- Reading from Files
- Writing to Files
- File Modes

## Opening and Closing Files
## Reading from Files
## Writing to Files
## File Modes

# Exception Handling:
- try, except, finally Blocks
- Handling Different Types of Exceptions
- Raising Exceptions

## try, except, finally Blocks
## Handling Different Types of Exceptions
## Raising Exceptions

# Object-Oriented Programming (OOP):
- Classes and Objects
- Attributes and Methods
- Inheritance
- Polymorphism
- Encapsulation

## Classes and Objects

## Attributes and Methods

## Inheritance

## Polymorphism

## Encapsulation

# Additional Topics:
- List Comprehensions
- Generators and Iterators
- Decorators
- Context Managers
- Virtual Environments
- Debugging Techniques
- Testing and Test-Driven Development (TDD)
- Regular Expressions
- Parallel and Concurrent Programming
- Memoization
- Recursion

## List Comprehensions

## Generators and Iterators

## Decorators

## Context Managers

## Virtual Environments

## Debugging Techniques

## Testing and Test-Driven Development (TDD)

## Regular Expressions

## Parallel and Concurrent Programming

## Memoization

## Recursion

# Misc

# Math

In [49]:
# modelo
8 % 3

2

In [ ]:
# check for perfect squares
n*0.5 % 1 #???

In [26]:
string = "bitcoin take over the world maybe who knows perhaps"
stringlist = string.split()
longest = ''

for n in stringlist:
    if len(stringlist[n]) < len(stringlist[n+1]):
        longest = stringlist[n+1]

longest

TypeError: list indices must be integers or slices, not str

### binary

`s = s * 2 + digit`: For each digit in the binary number, multiply the current value of s by 2 (effectively shifting the bits to the left) and then add the current digit. This is a common technique for converting binary to decimal. For example, if s is 0 and the next digit is 1, then s * 2 + 1 equals 1. If the next digit is 0, then s * 2 + 0 equals 2. And so on.

## Testing

In [59]:
# strategic print statements
def find_short(s):
    stringlist = s.split()
    print(stringlist)
    shortest = 'aaaaaaaaa'
    
    for word in stringlist:
        if len(word) < len(shortest):
            shortest = word
            print(shortest)
        return len(shortest)

find_short('as;dlfkj asdfadsf asdfasdf asdfas ad')

['as;dlfkj', 'asdfadsf', 'asdfasdf', 'asdfas', 'ad']
as;dlfkj

8

### wtf is this?? (random snippets to figure out later)

In [ ]:
return "%i %i" % (max(nn),min(nn))

In [ ]:
def middleNode(self, head: Optional):
    slow = fast = head
    
    while fast and fast.next:
        slow = slow.next
        fast = fast.next.next
        
    return slow

# TOC

### Basic Concepts:
- Python Syntax and Structure
- Comments and Documentation
- Data Types
  - Integers
  - Floats
  - Strings
  - Booleans
  - None
- Variables and Assignment

### Data Structures:
- Lists
   - Create:
       - Initializing a List
       - Appending Elements
       - Inserting Elements
       - List Comprehensions
   - Read:
       - Accessing Elements by Index
       - Slicing Lists
       - Iterating Over Lists
   - Update:
       - Modifying Elements by Index
       - Slicing and Assigning
   - Delete:
       - Removing Elements by Value
       - Removing Elements by Index
       - Clearing the Entire List

- Tuples
   - Create:
       - Initializing a Tuple
   - Read:
       - Accessing Elements by Index
       - Tuple Unpacking
   - Update:
       - Tuples are Immutable (No direct update, create a new tuple)
   - Delete:
       - Deleting Entire Tuple

- Dictionaries
   - Create:
       - Initializing a Dictionary
       - Adding Key-Value Pairs
   - Read:
       - Accessing Values by Key
       - Checking Key Existence
       - Iterating Over Keys or Values
   - Update:
       - Modifying Values by Key
       - Adding New Key-Value Pairs
   - Delete:
       - Removing Key-Value Pairs
       - Clearing the Entire Dictionary

- Sets
   - Create:
       - Initializing a Set
       - Adding Elements to a Set
   - Read:
       - Iterating Over Set Elements
       - Checking Set Membership
   - Update:
       - Adding Elements
       - Removing Elements
   - Delete:
       - Removing Elements by Value
       - Clearing the Entire Set

- Advanced Data Structures (Optional)
  - Stacks
  - Queues
  - Heaps
  - Trees
  - Graphs

### Control Flow:
- Conditional Statements (if, elif, else)
- Comparison Operators
- Logical Operators
- Truthiness and Falsiness
- Ternary Operator

### Loops and Iteration:
- for Loops
- while Loops
- Loop Control Statements (break, continue)
- Iterating Over Data Structures

### Functions:
- Defining Functions
- Function Parameters
- Return Statement
- Scope and Lifetime of Variables
- Lambda Functions
- Functional Programming
  - map(), filter(), reduce()
  - Partial Function Application
  - Function Composition
  - Immutable Data Structures

### Modules and Packages:
- Importing Modules
- Creating and Using Packages
- Standard Library Overview

### File Handling:
- Opening and Closing Files
- Reading from Files
- Writing to Files
- File Modes

### Exception Handling:
- try, except, finally Blocks
- Handling Different Types of Exceptions
- Raising Exceptions

### Object-Oriented Programming (OOP):
- Classes and Objects
- Attributes and Methods
- Inheritance
- Polymorphism
- Encapsulation

### Additional Topics:
- List Comprehensions
- Generators and Iterators
- Decorators
- Context Managers
- Virtual Environments
- Debugging Techniques
- Testing and Test-Driven Development (TDD)
- Regular Expressions
- Parallel and Concurrent Programming
- Memoization
- Recursion